@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/typography" as typography;
@use "../../src/tokens/spacings" as spacings;

@layer component {
    .wim-heading {
        font-family: inherit;
        margin: 0;
        line-height: normal;
        font-weight: typography.$weight-bold;
        width: 100%;

        /* Sizes */
        &--xs {
            font-size: spacings.$font-size-0; // 1rem
        }

        &--sm {
            font-size: spacings.$font-size-2; // 1.3rem
        }

        &--md {
            font-size: spacings.$font-size-4; // 1.6rem
        }

        &--lg {
            font-size: spacings.$font-size-6; // 2rem
        }

        &--xl {
            font-size: spacings.$font-size-8; // 2.6rem
        }

        &--2xl {
            font-size: spacings.$font-size-10; // 3.2rem
        }

        &--3xl {
            font-size: spacings.$font-size-12; // 4.1rem
        }

        &--4xl {
            font-size: spacings.$font-size-14; // 5.2rem
        }

        /* Align */
        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }

        &--right {
            text-align: right;
        }

        /* Colors */
        &--black {
            color: var(--text-primary);
        }

        &--deepgray {
            color: colors.$text-deepgray;
        }

        &--gray {
            color: colors.$text-gray;
        }

        &--lightgray {
            color: colors.$text-lightgray;
        }

        &--white {
            color: var(--text-white);
        }

        &--error {
            color: var(--text-error);
        }

        &--primary {
            color: colors.$color-primary;
        }

        /* Decoration */
        &--underline {
            text-decoration: typography.$decoration-underline;
            text-underline-offset: 0.2em;
            text-decoration-skip-ink: none;
        }

        &__highlight {
            background-color: var(--decoration-highlight-color);
        }
    }
}