@use "../../styles/token-common" as *;

.wim-tag {
  @include token-base;

  gap: var(--spacing-xs);
  font-weight: 500;
  border-radius: var(--radius-sm);

  &--md {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-minus-2);
  }

  &--sm {
    padding: var(--spacing-2xs) var(--spacing-xs);
    font-size: var(--font-size-minus-3);
  }

  &__icon {
    display: flex;
    font-size: 1.2em;
  }

  // Colors and Variants
  @include token-variants("wim-tag");
}
