@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/spacings" as spacings;

.wim-timepicker {
    // Styling for the native time picker indicator
    &::-webkit-calendar-picker-indicator {
        padding: spacings.$spacing-xs;
        cursor: pointer;
        border-radius: spacings.$radius-sm;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--color-tertiary-hover, rgb(0 0 0 / 0.05));
        }
    }
}
