@use "../../../tokens/breakpoints" as *;

@layer component {
  .root, :global(.wim-treemap__root) {
    display: block;
    width: 100%;
    height: auto;
  }

  .container, :global(.wim-treemap__container) {
    position: relative;
    width: 100%;
  }

  // Tokens used in CustomizedContent (JS):
  // var(--wim-color-primary-fill)
  // var(--wim-font-size-xs)
}
