@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/typography" as typography;

.wim-file-upload {
    display: flex;
    flex-direction: column;
    gap: spacings.$spacing-xs;
    font-family: inherit;

    &__label {
        font-size: typography.$size-small;
        font-weight: typography.$weight-medium;
        color: colors.$text-deepgray;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: spacings.$spacing-md;
    }

    &__input {
        display: none;
    }

    &__file-names {
        display: inline-block;
        line-height: 2;
        padding: 8px 0;
        font-size: typography.$size-small;
        color: colors.$text-gray;
        overflow: visible;
        white-space: nowrap;
        max-width: 300px;

        &--disabled {
            color: colors.$color-disabled;
        }
    }
}