.wim-radio-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;

  &.wim-radio--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.wim-radio-input {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 var(--spacing-sm) 0 0;
  cursor: pointer;
  background-color: var(--bg-component);
  border: 2px solid var(--text-tertiary);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }

  // Checked state
  &:checked {
    border-color: var(--color-primary);

    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  // Focus state
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
    box-shadow: var(--shadow-focus);
  }

  // Disabled state
  &:disabled {
    cursor: not-allowed;
    border-color: var(--color-disabled);
    opacity: 0.6;

    &::after {
      background-color: var(--color-text-on-disabled);
    }
  }
}

.wim-radio-label {
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--text-primary);
}