@layer component {
  .root {
    padding: var(--wim-spacing-md) 0 var(--wim-spacing-md) var(--wim-spacing-2xl);
    margin: var(--wim-spacing-2xl) 0;
    font-family: inherit;
    font-weight: var(--wim-font-weight-normal);
    line-height: var(--wim-line-height-normal);
    transition: var(--wim-transition-fast);

    &.border {
      border-left: var(--wim-blockquote-border-width) solid var(--wim-color-text-secondary);
    }

    .cite {
      display: block;
      margin-top: var(--wim-spacing-sm);
      font-size: var(--wim-font-size-small-scale);
      font-style: italic;
      opacity: 1;

      &::before {
        content: "— ";
      }
    }

    /* Size Variants */
    &.sm {
      font-size: var(--wim-font-size-sm);
    }

    &.md {
      font-size: var(--wim-font-size-md);
    }

    &.lg {
      font-size: var(--wim-font-size-lg);
    }

    /* Color Variants */

    &.primary {
      color: oklch(from var(--wim-color-primary) calc(l * 0.7) c h);

      &.border {
        border-color: var(--wim-color-primary);
      }
    }

    &.success {
      color: oklch(from var(--wim-color-success) calc(l * 0.7) c h);

      &.border {
        border-color: var(--wim-color-success);
      }
    }

    &.warning {
      color: oklch(from var(--wim-color-warning) calc(l * 0.5) c h);

      &.border {
        border-color: var(--wim-color-warning);
      }
    }

    &.danger {
      color: oklch(from var(--wim-color-text-danger) calc(l * 0.7) c h);

      &.border {
        border-color: var(--wim-color-text-danger);
      }
    }

    &.info {
      color: oklch(from var(--wim-color-info) calc(l * 0.7) c h);

      &.border {
        border-color: var(--wim-color-info);
      }
    }
  }
}
