@use "../../src/tokens/spacings" as spacings;

// SwitchGroup styles
.wim-switch-group {
    display: flex;
    flex-direction: column;
    gap: spacings.$spacing-sm;

    &.wim-switch-group--horizontal {
        flex-direction: row;
        flex-wrap: wrap;
        gap: spacings.$spacing-lg;
    }
}