@layer component {
  .root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--wim-z-overlay);
    width: 100%;
    height: var(--wim-spacing-2xs);
    background-color: transparent;

    .bar {
      height: 100%;
      background-color: var(--wim-color-primary);
      transition: width var(--wim-duration-extra-fast) var(--wim-easing-standard);
    }

    &.secondary {
      .bar {
        background-color: var(--wim-color-line);
      }
    }

    &.success {
      .bar {
        background-color: var(--wim-color-success);
      }
    }

    &.warning {
      .bar {
        background-color: var(--wim-color-warning);
      }
    }

    &.danger {
      .bar {
        background-color: var(--wim-color-danger);
      }
    }
  }
}
