@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/effects" as effects;
@use "../../src/tokens/typography" as typography;

.wim-notification {
    position: relative;
    width: 384px;
    max-width: calc(100vw - 32px);
    padding: spacings.$spacing-lg spacings.$spacing-md;
    margin-bottom: spacings.$spacing-md;
    overflow: hidden;
    background-color: var(--bg-component, #fff);
    border: 1px solid colors.$color-secondary;
    border-radius: spacings.$radius-md;
    box-shadow: effects.$shadow-lg;

    &-content {
        display: flex;
        gap: spacings.$spacing-sm;
        align-items: center;
    }

    &-icon {
        flex-shrink: 0;
    }

    &-message-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: spacings.$spacing-sm;
    }

    &-title {
        margin-bottom: 0; // Reset margin when centered
        font-size: typography.$size-medium;
        font-weight: typography.$weight-medium;
        line-height: typography.$line-height-normal-jpan;
        color: var(--text-primary);
    }

    &-description {
        font-size: typography.$size-small;
        line-height: typography.$line-height-tight-latn;
        color: var(--text-secondary);
    }

    &-close {
        position: absolute;
        top: spacings.$spacing-sm;
        right: spacings.$spacing-sm;
        display: flex;
        align-items: center;
        padding: 4px;
        color: var(--text-disabled);
        cursor: pointer;
        background: transparent;
        border: none;
        transition: effects.$transition-base;

        &:hover {
            color: var(--text-secondary);
        }
    }

    // Variants
    &--success {
        border-left: 4px solid colors.$color-positive;
    }

    &--info {
        border-left: 4px solid colors.$color-informative;
    }

    &--warning {
        border-left: 4px solid colors.$color-caution;
    }

    &--error {
        border-left: 4px solid colors.$color-destructive;
    }
}