@layer component {
  .root {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .avatar {
      border: var(--wim-border-width-thick) solid var(--wim-color-bg-app);

      &:not(:first-child) {
        margin-left: calc(-1 * var(--wim-spacing-md));
      }
    }
  }

  .excess {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--wim-spacing-sm);
    font-weight: 600;
    color: var(--wim-color-text-secondary);
    user-select: none;

    &.sm {
      font-size: 0.75rem;
    }

    &.md {
      font-size: 0.875rem;
    }

    &.lg {
      font-size: 1rem;
    }
  }
}
