@layer component {
  .root {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .avatar {
      border: var(--wim-border-width-thick) solid var(--wim-color-surface-app);

      &:not(:first-child) {
        margin-left: calc(-1 * var(--wim-spacing-md));
      }
    }
  }

  .excess {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--wim-spacing-sm);
    font-weight: var(--wim-font-weight-semibold);
    color: var(--wim-color-text-secondary);
    user-select: none;

    &.sm {
      font-size: var(--wim-font-size-xs);
    }

    &.md {
      font-size: var(--wim-font-size-sm);
    }

    &.lg {
      font-size: var(--wim-font-size-md);
    }
  }
}
