@layer component {
  .wim-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-radius: var(--wim-radius-sm);
    transition: var(--wim-transition-base);

    &::after {
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: currentcolor;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &:focus-visible {
      outline: none;
      box-shadow: var(--wim-shadow-focus);
    }

    &__inner {
      display: inline-flex;
      gap: var(--wim-spacing-xs);
      align-items: center;
    }

    &__label {
      line-height: 1.2;
    }

    // Sizes
    &--lg {
      font-size: var(--wim-font-size-lg);
    }

    &--md {
      font-size: var(--wim-font-size-md);
    }

    &--sm {
      font-size: var(--wim-font-size-sm);
    }

    // Priorities
    &--primary {
      color: color-mix(in srgb, var(--wim-color-primary) 50%, var(--wim-color-text-primary));

      &:hover {
        color: color-mix(in srgb, var(--wim-color-primary) 50%, var(--wim-color-text-primary));
      }
    }

    &--secondary {
      color: var(--wim-color-text-primary); // Assume default text color

      &:hover {
        color: var(--wim-color-primary);
      }
    }

    &--tertiary {
      color: var(--wim-color-text-tertiary); // Assume subtle text color

      &:hover {
        color: var(--wim-color-text-primary);
      }
    }

    &__external-icon {
      margin-left: var(--wim-spacing-3xs);
      font-size: 0.8em;
      opacity: 0.8;
    }

    .wim-icon {
      flex-shrink: 0;
      font-size: 0.9em;
    }
  }
}