@use "../../src/tokens/spacings" as spacings;

.wim-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: spacings.$spacing-sm;

    &--horizontal {
        flex-direction: row;
        flex-wrap: wrap;
        gap: spacings.$spacing-md;
    }
}