// SwitchGroup styles
.wim-switch-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &.wim-switch-group--horizontal {
    flex-flow: row wrap;
    column-gap: var(--spacing-lg);
    row-gap: var(--spacing-md);
  }
}