.wim-aspect-ratio {
    position: relative;
    width: 100%;
    aspect-ratio: var(--wim-aspect-ratio);

    &__inner {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* iframeのように独自のスタイルを持ちがちなものへの対応 */
        &>iframe {
            border: 0;
        }
    }
}
