
@layer component {
  /* Generic Transitions */
  .fadeEnter {
    opacity: 0;
  }

  .fadeEnterTo {
    opacity: 1;
    transition: opacity var(--wim-transition-base);
  }

  .fadeLeave {
    opacity: 1;
  }

  .fadeLeaveTo {
    opacity: 0;
    transition: opacity var(--wim-transition-base);
  }

  .scaleEnter {
    opacity: 0;
    transform: scale(0.95);
  }

  .scaleEnterTo {
    opacity: 1;
    transform: scale(1);
    transition: all var(--wim-transition-base);
  }

  .scaleLeave {
    opacity: 1;
    transform: scale(1);
  }

  .scaleLeaveTo {
    opacity: 0;
    transform: scale(0.95);
    transition: all var(--wim-transition-base);
  }

  /* Slide - shared transition base */
  .slideBase {
    transition: transform var(--wim-transition-base);
  }

  /* Slide Right */
  .slideRightEnterFrom {
    transform: translateX(100%);
  }

  .slideRightEnterTo {
    transform: translateX(0);
  }

  .slideRightLeaveFrom {
    transform: translateX(0);
  }

  .slideRightLeaveTo {
    transform: translateX(100%);
  }

  /* Slide Left */
  .slideLeftEnterFrom {
    transform: translateX(-100%);
  }

  .slideLeftEnterTo {
    transform: translateX(0);
  }

  .slideLeftLeaveFrom {
    transform: translateX(0);
  }

  .slideLeftLeaveTo {
    transform: translateX(-100%);
  }

  /* Slide Top */
  .slideTopEnterFrom {
    transform: translateY(-100%);
  }

  .slideTopEnterTo {
    transform: translateY(0);
  }

  .slideTopLeaveFrom {
    transform: translateY(0);
  }

  .slideTopLeaveTo {
    transform: translateY(-100%);
  }

  /* Slide Bottom */
  .slideBottomEnterFrom {
    transform: translateY(100%);
  }

  .slideBottomEnterTo {
    transform: translateY(0);
  }

  .slideBottomLeaveFrom {
    transform: translateY(0);
  }

  .slideBottomLeaveTo {
    transform: translateY(100%);
  }

  .hidden {
    display: none !important;
  }

}
