@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/typography" as typography;
@use "../../tokens/spacings" as spacings;
@use "../../tokens/effects" as effects;
@use "../../tokens/breakpoints" as breakpoints;

@layer component {
    .wim-tabs {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--vertical {
            flex-direction: row;

            @include breakpoints.down(md) {
                flex-direction: column;
            }

            .wim-tabs__list {
                flex-direction: column;
                width: 200px;
                background-color: rgb(0 0 0 / 0.03);
                border-right: 2px solid var(--wim-color-border-secondary);
                border-bottom: none;
                mask-image: linear-gradient(to bottom, transparent, black 15px, black calc(100% - 15px), transparent);

                @include breakpoints.down(md) {
                    flex-direction: row;
                    width: 100%;
                    overflow-x: auto;
                    border-right: none;
                    border-bottom: 2px solid var(--wim-color-border-secondary);
                    mask-image: linear-gradient(to right, transparent, black 15px, black calc(100% - 15px), transparent);
                }
            }

            .wim-tabs__trigger {
                justify-content: flex-start;
                width: 100%;
                padding: spacings.$spacing-md spacings.$spacing-lg;
                margin-right: -2px;
                text-align: left;
                white-space: normal;
                border-right: 2px solid transparent;
                border-bottom: none;
                border-radius: spacings.$radius-sm 0 0 spacings.$radius-sm;

                @include breakpoints.down(md) {
                    justify-content: center;
                    width: auto;
                    margin-right: 0;
                    margin-bottom: -2px;
                    white-space: nowrap;
                    border-right: none;
                    border-bottom: 2px solid transparent;
                    border-radius: spacings.$radius-sm spacings.$radius-sm 0 0;

                    &--active {
                        border-right-color: transparent;
                    }
                }
            }

            .wim-tabs__content {
                flex-grow: 1;
                padding: spacings.$spacing-md spacings.$spacing-xl;
            }
        }

        &__list {
            position: relative;
            display: flex;
            flex-shrink: 0;
            gap: spacings.$spacing-xs;
            width: 100%;
            padding: 4px 4px 0;
            overflow-x: auto;
            cursor: grab;
            user-select: none;

            /* IE and Edge */
            scrollbar-width: none;
            background-color: rgb(0 0 0 / 0.03);
            border-bottom: 2px solid var(--wim-color-border-secondary);
            border-radius: spacings.$radius-md spacings.$radius-md 0 0;

            /* Firefox */

            /* スクロール可能であることを示すマスク */
            mask-image: linear-gradient(to right, transparent, black 15px, black calc(100% - 15px), transparent);
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;

                /* Chrome, Safari and Opera */
            }

            &--dragging {
                scroll-behavior: auto;
                cursor: grabbing;
            }

            &.wim-tabs__list--ready .wim-tabs__slider {
                transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1), width 0.2s cubic-bezier(0.2, 0, 0, 1), height 0.2s cubic-bezier(0.2, 0, 0, 1);
            }
        }

        &__slider {
            position: absolute;
            background-color: colors.$color-primary;
            z-index: 2;
        }

        &__trigger {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: spacings.$spacing-sm spacings.$spacing-lg;
            margin-bottom: -2px;
            font-size: typography.$size-medium;
            font-weight: typography.$weight-medium;
            color: colors.$text-deepgray;
            white-space: nowrap;
            cursor: pointer;
            background-color: rgb(0 0 0 / 0.02);
            border: none;
            border-bottom: 2px solid transparent;
            border-radius: spacings.$radius-sm spacings.$radius-sm 0 0;
            transition: all effects.$transition-base;

            &:hover:not(:disabled) {
                color: colors.$text-black;
                background-color: rgb(0 0 0 / 0.08);
            }

            &:disabled {
                color: colors.$text-lightgray;
                cursor: not-allowed;
                background-color: transparent;
            }

            &--active {
                color: colors.$color-primary;
                background-color: #fff;
            }

            &:focus-visible {
                z-index: 1;
                outline: none;
                border-radius: spacings.$radius-sm;
                box-shadow: 0 0 0 2px colors.$color-focus-outline;
            }
        }

        &__content {
            flex-grow: 1;
            padding: spacings.$spacing-md 0;

            &:focus-visible {
                outline: none;
                border-radius: spacings.$radius-sm;
                box-shadow: inset 0 0 0 2px colors.$color-focus-outline;
            }
        }
    }
}