@use '../../src/tokens/semantic-colors' as colors;


@use '../../src/tokens/semantic-texts' as texts;
@use '../../src/lang' as lang;



.wim-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 0.8em;
  text-box-trim: trim-both;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.wim-button.font-size-large{
  padding: 0.8rem 1rem;
}
.wim-button.font-size-medium{
    padding: 0.7rem 0.9rem;
}

.wim-button.font-size-small{
    padding: 0.6rem 0.8rem;
}

.button-role-primary {
  background-color: colors.$semantic-primary;
  color: white;
}

.button-role-secondary {
  //box-shadow: rgba(0, 0, 0 / 0.15) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  background-color: colors.$semantic-secondary;
  color: white;
}

.button-role-danger {
  //box-shadow: rgba(0, 0, 0 / 0.15) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  background-color: colors.$semantic-danger;
  color: white;
}


.wim-button:disabled {
  /* disabledの時はカーソル形状変更 */
  cursor: not-allowed;
  background-color: colors.$semantic-disabled;
}

.wim-button:hover{
  opacity: 0.6;


}
/* disabledの時はhover無効 */
.wim-button:disabled:hover{
  opacity: 1;
}