@use '../../src/tokens/semantic-colors' as colors;
@use '../../src/tokens/semantic-texts' as texts;
@use '../../src/tokens/measure-scales' as scales;
@use '../../src/lang' as lang;

@layer component {
  .wim-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: scales.$spacing-xs;
    cursor: pointer;
    border: 0;
    border-radius: scales.$radius-md;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    background-color: transparent;
    color: inherit;
    font: inherit;
    padding: scales.$spacing-md scales.$spacing-lg;

    &__label {
      line-height: inherit;
    }

    &--icon-only {
      padding: scales.$spacing-sm !important;
      width: auto;
      height: auto;
    }

    &--lg {
      padding: scales.$spacing-2xl scales.$spacing-5xl;
      font-size: texts.$size-large;
    }

    &--md {
      padding: scales.$spacing-xl scales.$spacing-4xl;
      font-size: texts.$size-medium;
    }

    &--sm {
      padding: scales.$spacing-lg scales.$spacing-3xl;
      font-size: texts.$size-small;
    }

    &--primary {
      background-color: colors.$semantic-primary;
      color: colors.$semantic-text-on-primary;
    }

    &--secondary {
      background-color: colors.$semantic-secondary;
      color: colors.$semantic-text-on-secondary;
    }

    &--danger {
      background-color: colors.$semantic-danger;
      color: colors.$semantic-text-on-danger;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: colors.$semantic-disabled;
      color: colors.$semantic-text-on-disabled;
    }

    &:hover:not(:disabled) {
      opacity: 0.6;
    }
  }
}