@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/typography" as typography;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/effects" as effects;
@use "../../src/lang" as lang;

@layer component {
  .wim-button {
    box-sizing: border-box;
    display: inline-flex;
    gap: spacings.$spacing-xs;
    align-items: center;
    justify-content: center;
    padding: 0;
    font: inherit;
    line-height: 1;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: spacings.$radius-md;
    opacity: 1;
    transition: effects.$transition-base;

    &__label {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }

    .wim-icon {
      font-size: 0.7em;
    }

    &--icon-only {
      width: auto;
      height: auto;
      padding: spacings.$spacing-sm !important;
    }

    &--lg {
      min-width: calc(typography.$size-large * 1 + 2 * spacings.$spacing-xl);
      min-height: calc(typography.$size-large * 1 + 2 * spacings.$spacing-xl);
      padding: spacings.$spacing-xl spacings.$spacing-3xl;
      font-size: typography.$size-large;
    }

    &--md {
      min-width: calc(typography.$size-medium * 1 + 2 * spacings.$spacing-lg);
      min-height: calc(typography.$size-medium * 1 + 2 * spacings.$spacing-lg);
      padding: spacings.$spacing-lg spacings.$spacing-2xl;
      font-size: typography.$size-medium;
    }

    &--sm {
      min-width: calc(typography.$size-small * 1 + 2 * spacings.$spacing-sm);
      min-height: calc(typography.$size-small * 1 + 2 * spacings.$spacing-sm);
      padding: spacings.$spacing-sm spacings.$spacing-lg;
      font-size: typography.$size-small;
    }

    &--primary {
      box-shadow: effects.$shadow-sm;

      &.wim-button--default {
        color: colors.$color-text-on-primary;
        background-color: colors.$color-primary;
      }

      &.wim-button--destructive {
        color: colors.$color-text-on-destructive;
        background-color: colors.$color-destructive;
      }

      &.wim-button--positive {
        color: colors.$color-text-on-positive;
        background-color: colors.$color-positive;
      }

      &:disabled {
        color: colors.$color-text-on-disabled;
        background-color: colors.$color-disabled;
        border-color: transparent;
        box-shadow: none;
      }

      &:hover:not(:disabled) {
        box-shadow: effects.$shadow-lg;
        transform: translateY(effects.$lift-md);
      }

      &:active:not(:disabled) {
        box-shadow: effects.$shadow-xs;
        transform: translateY(effects.$lift-none);
      }
    }

    &--secondary {
      &.wim-button--default {
        color: colors.$color-primary;
        background-color: #fff;
        border-color: colors.$color-primary;
      }

      &.wim-button--destructive {
        color: colors.$color-destructive;
        background-color: #fff;
        border-color: colors.$color-destructive;
      }

      &.wim-button--positive {
        color: colors.$color-positive;
        background-color: #fff;
        border-color: colors.$color-positive;
      }

      &:disabled {
        color: colors.$color-disabled;
        background-color: transparent;
        border-color: colors.$color-disabled;
      }

      &:hover:not(:disabled) {
        box-shadow: effects.$shadow-md;
        transform: translateY(effects.$lift-sm);
      }

      &:active:not(:disabled) {
        box-shadow: effects.$shadow-inset;
        transform: translateY(effects.$lift-none);
      }
    }

    &--tertiary {
      background-color: transparent;
      border-color: transparent;

      &.wim-button--default {
        color: colors.$color-primary;
      }

      &.wim-button--destructive {
        color: colors.$color-destructive;
        background-color: transparent;
      }

      &.wim-button--positive {
        color: colors.$color-positive;
        background-color: transparent;
      }

      &:disabled {
        color: colors.$color-disabled;
        background-color: transparent;
        border-color: transparent;
      }

      &:hover:not(:disabled) {
        background-color: rgb(0 0 0 / 0.05);
      }
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:active:not(:disabled) {
      transform: scale(effects.$scale-active);
    }
  }
}