@layer component {
  .root {
    display: inline-flex;
    align-items: center;

    &.sm {
      --wim-rating-star-size: var(--wim-font-size-md); // 16px

      gap: var(--wim-border-width-thick);
    }

    &.md {
      --wim-rating-star-size: var(--wim-height-xs); // 24px

      gap: var(--wim-spacing-2xs);
    }

    &.lg {
      --wim-rating-star-size: var(--wim-height-sm); // 32px

      gap: var(--wim-spacing-sm);
    }

    &.disabled {
      pointer-events: none;

      .star {
        cursor: default;

        .foreground {
          color: var(--wim-color-text-tertiary);
        }
      }
    }
  }

  .star {
    position: relative;
    display: block;
    width: var(--wim-rating-star-size);
    height: var(--wim-rating-star-size);
    cursor: pointer;
    transition: transform var(--wim-transition-fast);

    &:hover {
      transform: scale(1.1);
    }

    &.full .foreground {
      width: 100%;
    }

    &.half .foreground {
      width: 50%;
    }
  }

  .background {
    color: var(--wim-color-border);

    .icon {
      display: block;
      width: var(--wim-rating-star-size);
      height: var(--wim-rating-star-size);
      fill: currentcolor;
    }
  }

  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: var(--wim-color-caution);
    white-space: nowrap;
    pointer-events: none;
    transition: width var(--wim-transition-fast);

    .icon {
      display: block;
      width: var(--wim-rating-star-size);
      min-width: var(--wim-rating-star-size);
      height: var(--wim-rating-star-size);
      fill: currentcolor;
    }
  }
}
