@layer component {
  .root {
    position: relative;
    display: inline-block;
  }
  
  .trigger {
    display: inline-flex;
    cursor: default;
    outline: none;
  
    &:focus-visible {
      outline: none;
      border-radius: var(--wim-radius-sm);
      box-shadow: var(--wim-shadow-focus);
    }
  }
  
  .content {
    position: absolute;
    z-index: var(--wim-z-overlay);
    width: max-content;
    max-width: var(--wim-overlay-max-width-sm);
    padding: var(--wim-spacing-md);
    font-size: var(--wim-font-size-sm);
    line-height: var(--wim-line-height-normal);
    color: var(--wim-color-text-primary);
    pointer-events: auto;
    background-color: var(--wim-color-bg-component);
    border: var(--wim-border-width-thin) solid var(--wim-color-border-secondary);
    border-radius: var(--wim-radius-md);
    box-shadow: var(--wim-shadow-lg);
    opacity: 0;
    animation: fadeIn var(--wim-duration-fast) forwards;
  
    &.top {
      bottom: 100%;
      left: 50%;

      --base-transform: translate(-50%, calc(var(--wim-spacing-md) * -1));

      transform: var(--base-transform);
    }
  
    &.bottom {
      top: 100%;
      left: 50%;

      --base-transform: translate(-50%, var(--wim-spacing-md));

      transform: var(--base-transform);
    }
  
    &.left {
      top: 50%;
      right: 100%;

      --base-transform: translate(calc(var(--wim-spacing-md) * -1), -50%);

      transform: var(--base-transform);
    }
  
    &.right {
      top: 50%;
      left: 100%;

      --base-transform: translate(var(--wim-spacing-md), -50%);

      transform: var(--base-transform);
    }
  
    &.alignLeft {
      left: 0;

      --base-transform: var(--wim-spacing-md);

      &.top {
        --base-transform: calc(var(--wim-spacing-md) * -1);
      }

      transform: translateY(var(--base-transform));
    }
  
    &.alignRight {
      right: 0;
      left: auto;

      --base-transform: translateY(8px);

      &.top {
        --base-transform: translateY(-8px);
      }

      transform: var(--base-transform);
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: var(--base-transform) scale(0.95);
      }

      to {
        opacity: 1;
        transform: var(--base-transform) scale(1);
      }
    }
  }
}
