@layer component {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .fullWidth {
    width: 100%;
  }

  .textarea {
    box-sizing: border-box !important;
    display: block;
    width: 100%;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
    font: inherit;
    font-size: var(--wim-font-size-md);
    line-height: var(--wim-line-height-normal);
    color: var(--wim-color-text-primary);
    resize: none;
    outline: none !important;
    background: transparent;
    border: none !important;

    &::placeholder {
      color: var(--wim-color-text-tertiary);
    }

    &:disabled {
      color: var(--wim-color-text-on-disabled);
      cursor: not-allowed;

      &::placeholder {
        color: var(--wim-color-text-on-disabled);
      }
    }
  }

  .charCount {
    display: flex;
    justify-content: flex-end;
    padding-right: var(--wim-spacing-xs);
    margin-top: var(--wim-spacing-xs);
  }
}
