@layer component {
  .wim-paragraph {
    font: inherit;
    color: inherit;

    &--xl {
      font-size: var(--font-size-ex-large);
    }

    &--lg {
      font-size: var(--font-size-large);
    }

    &--md {
      font-size: var(--font-size-medium);
    }

    &--sm {
      font-size: var(--font-size-small);
    }

    &--xs {
      font-size: var(--font-size-ex-small);
    }

    &--loose-jpan {
      line-height: var(--line-height-loose-jpan);
    }

    &--normal-jpan {
      line-height: var(--line-height-normal-jpan);
    }

    &--tight-jpan {
      line-height: var(--line-height-tight-jpan);
    }

    &--loose-latn {
      line-height: var(--line-height-loose-latn);
    }

    &--normal-latn {
      line-height: var(--line-height-normal-latn);
    }

    &--tight-latn {
      line-height: var(--line-height-tight-latn);
    }

    &--bold {
      font-weight: var(--font-weight-bold);
    }

    &--italic {
      font-style: italic;
    }

    &--line-through {
      text-decoration: var(--decoration-line-through);
    }

    &--underline {
      text-decoration: var(--decoration-underline);
      text-decoration-skip-ink: none;
      text-underline-offset: 0.3em;
    }

    &--highlight {
      background-color: var(--decoration-highlight-color);
    }

    &--black {
      color: var(--text-primary);
    }

    &--deepgray {
      color: var(--text-secondary);
    }

    &--gray {
      color: var(--text-tertiary);
    }

    &--lightgray {
      color: var(--text-disabled);
    }

    &--white {
      color: var(--text-white);
    }

    &--error {
      color: var(--text-error);
    }

    &--primary {
      color: var(--color-primary);
    }

    &--success {
      color: var(--color-positive);
    }

    &--warning {
      color: var(--color-caution);
    }

    &--info {
      color: var(--color-informative);
    }
  }
}