.wim-badge {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 999px;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1.2em;
            height: 1.2em;
        }
    }

    // Sizes
    &--sm {
        padding: 3px 8px;
        font-size: 0.65rem;

        &.wim-badge--icon-only {
            padding: 3px;
        }
    }

    &--md {
        padding: 6px 14px;
        font-size: 0.75rem;

        &.wim-badge--icon-only {
            padding: 6px;
        }
    }

    // Colors - Solid
    &--solid {
        &.wim-badge--primary {
            color: #fff;
            background-color: var(--wim-color-primary, #007bff);
        }

        &.wim-badge--secondary {
            color: #fff;
            background-color: var(--wim-color-secondary, #6c757d);
        }

        &.wim-badge--error {
            color: #fff;
            background-color: var(--wim-color-error, #dc3545);
        }

        &.wim-badge--neutral {
            color: var(--wim-color-black, #212529);
            background-color: var(--wim-color-neutral, #e9ecef);
        }
    }

    // Colors - Outline
    &--outline {
        background-color: transparent;
        border: 1px solid currentcolor;

        &.wim-badge--primary {
            color: var(--wim-color-primary, #007bff);
            border-color: var(--wim-color-primary, #007bff);
        }

        &.wim-badge--secondary {
            color: var(--wim-color-secondary, #6c757d);
            border-color: var(--wim-color-secondary, #6c757d);
        }

        &.wim-badge--error {
            color: var(--wim-color-error, #dc3545);
            border-color: var(--wim-color-error, #dc3545);
        }

        &.wim-badge--neutral {
            color: var(--wim-color-gray, #6c757d);
            border-color: var(--wim-color-gray, #6c757d);
        }
    }
}