@layer component {
  .wim-highlight-container {
    font: inherit;
    color: inherit;
  }

  .wim-highlight {
    padding: 0 2px;
    color: inherit;
    background-color: var(--wim-decoration-highlight-color, #fff9c4);
    border-radius: 2px;
  }
}
