@use "../../tokens/spacings" as spacings;

.wim-radio-group {
    display: flex;
    flex-direction: column;
    gap: spacings.$spacing-sm;

    &--horizontal {
        flex-flow: row wrap;
        gap: spacings.$spacing-md;
    }
}
