.wim-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &--horizontal {
    flex-flow: row wrap;
    column-gap: var(--spacing-lg);
    row-gap: var(--spacing-md);
  }
}