.wim-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    &__header {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__text {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--wim-color-black, #212529);
    }

}
