@layer component {
  .wim-paragraph {
    font: inherit;
    color: inherit;

    &--xl {
      font-size: var(--wim-font-size-xl);
    }

    &--lg {
      font-size: var(--wim-font-size-lg);
    }

    &--md {
      font-size: var(--wim-font-size-md);
    }

    &--sm {
      font-size: var(--wim-font-size-sm);
    }

    &--xs {
      font-size: var(--wim-font-size-xs);
    }

    &--loose-jpan {
      line-height: var(--wim-line-height-loose-jp);
    }

    &--normal-jpan {
      line-height: var(--wim-line-height-normal-jp);
    }

    &--tight-jpan {
      line-height: var(--wim-line-height-tight-jp);
    }

    &--loose-latn {
      line-height: var(--wim-line-height-loose);
    }

    &--normal-latn {
      line-height: var(--wim-line-height-normal);
    }

    &--tight-latn {
      line-height: var(--wim-line-height-tight);
    }

    &--bold {
      font-weight: var(--wim-font-weight-bold);
    }

    &--italic {
      font-style: italic;
    }

    &--line-through {
      text-decoration: var(--wim-decoration-line-through);
    }

    &--underline {
      text-decoration: var(--wim-decoration-underline);
      text-decoration-skip-ink: none;
      text-underline-offset: 0.3em;
    }

    &--highlight {
      background-color: var(--wim-decoration-highlight-color);
    }

    &--black {
      color: var(--wim-color-text-primary);
    }

    &--deepgray {
      color: var(--wim-color-text-secondary);
    }

    &--gray {
      color: var(--wim-color-text-tertiary);
    }

    &--lightgray {
      color: var(--wim-color-text-disabled);
    }

    &--white {
      color: var(--wim-color-text-white);
    }

    &--error {
      color: var(--wim-color-text-error);
    }

    &--primary {
      color: var(--wim-color-primary);
    }

    &--success {
      color: var(--wim-color-positive);
    }

    &--warning {
      color: var(--wim-color-caution);
    }

    &--info {
      color: var(--wim-color-informative);
    }
  }

  // Prevent labels from being triggered by non-active text elements inside them
  label .wim-paragraph {
    pointer-events: none;
  }
}
