.wim-file-upload {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  font-family: inherit;

  &__label {
    display: block;
    margin-bottom: var(--spacing-xs);
    font-weight: var(--font-weight-medium);
    color: var(--text-secondary);

    .wim-file-upload--small & {
      font-size: var(--font-size-ex-small);
    }

    .wim-file-upload--medium & {
      font-size: var(--font-size-small);
    }

    .wim-file-upload--large & {
      font-size: var(--font-size-medium);
    }
  }

  &__controls {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
  }

  &__input {
    display: none;
  }

  &__file-names {
    display: inline-block;
    max-width: 300px;
    padding: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-tertiary);

    &--small {
      font-size: var(--font-size-ex-small);
    }

    &--medium {
      font-size: var(--font-size-small);
    }

    &--large {
      font-size: var(--font-size-medium);
    }

    &--disabled {
      color: var(--color-disabled);
    }
  }
}
