.wim-file-upload {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    font-family: inherit;

    &__label {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);
        color: var(--text-secondary);
    }

    &__controls {
        display: flex;
        gap: var(--spacing-md);
        align-items: center;
    }

    &__input {
        display: none;
    }

    &__file-names {
        display: inline-block;
        max-width: 300px;
        padding: 8px 0;
        overflow: visible;
        font-size: var(--font-size-small);
        line-height: 2;
        color: var(--text-tertiary);
        white-space: nowrap;

        &--disabled {
            color: var(--color-disabled);
        }
    }
}