@use '../../src/tokens/semantic-colors' as colors;
@use '../../src/tokens/semantic-texts' as texts;
@use '../../src/tokens/measure-scales' as scales;
@use '../../src/lang' as lang;

@layer component {
  .wim-icon {
    display: inline-block;
    cursor: pointer;
    border: 0;
    width: 1em;
    height: 1em;
    color: inherit;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
      stroke: currentColor;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease-in-out;
    }

    &--xl {
      width: texts.$size-ex-large;
      height: texts.$size-ex-large;
    }

    &--lg {
      width: texts.$size-large;
      height: texts.$size-large;
    }

    &--md {
      width: texts.$size-medium;
      height: texts.$size-medium;
    }

    &--sm {
      width: texts.$size-small;
      height: texts.$size-small;
    }

    &--xs {
      width: texts.$size-ex-small;
      height: texts.$size-ex-small;
    }

    &--danger {
      color: var(--semantic-danger);
    }

    &--success {
      color: var(--semantic-success);
    }

    &--warning {
      color: var(--semantic-warning);
    }

    &--primary {
      color: var(--semantic-primary);
    }

    &--info {
      color: var(--semantic-info);
    }
  }
}