@use '../../src/tokens/semantic-colors' as colors;

@use '../../src/tokens/semantic-texts' as texts;
@use '../../src/lang' as lang;



.wim-icon {
  display: inline-block;
  cursor: pointer;
  border: 0;
  text-box-trim: trim-both;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
    svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.wim-icon.font-size-large{
    width:  texts.$size-large;
    height:   texts.$size-large;
}
.wim-icon.font-size-medium{
    width:  texts.$size-medium;
    height:  texts.$size-medium;
}

.wim-icon.font-size-small{
    width:  texts.$size-small;
    height:  texts.$size-small;
}

svg.wim-icon.danger{
  fill: var(--semantic-danger);
  stroke: var(--semantic-danger);
}

svg.wim-icon.success {
  fill: var(--semantic-success);
  stroke: var(--semantic-success);
}

svg.wim-icon.warning {
  fill: var(--semantic-warning);
  stroke: var(--semantic-warning);
}

svg.wim-icon.primary {
  fill: var(--semantic-primary);
  stroke: var(--semantic-primary);
}
svg.wim-icon.secondary {
  fill: var(--semantic-secondary);
  stroke: var(--semantic-secondary);
}

svg.wim-icon.info {
  fill: var(--semantic-info);
  stroke: var(--semantic-info);
}

/* ボタン内のアイコンの色 */
.wim-button.button-role-primary svg.wim-icon{
  fill: colors.$font-white;
  stroke: colors.$font-white;
}
.wim-button.button-role-secondary svg.wim-icon{
  fill: colors.$font-white;
  stroke: colors.$font-white;
}
.wim-button.button-role-danger svg.wim-icon{
  fill: colors.$font-white;
  stroke: colors.$font-white;
}