@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/semantic-texts" as texts;
@use "../../src/tokens/measure-scales" as scales;
@use "../../src/lang" as lang;

@layer component {
  .wim-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    cursor: pointer;
    border: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentcolor;
      stroke: currentcolor;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s ease-in-out;
    }

    &--xl {
      font-size: texts.$size-ex-large;
    }

    &--lg {
      font-size: texts.$size-large;
    }

    &--md {
      font-size: texts.$size-medium;
    }

    &--sm {
      font-size: texts.$size-small;
    }

    &--xs {
      font-size: texts.$size-ex-small;
    }

    &--danger {
      color: var(--semantic-danger);
    }

    &--success {
      color: var(--semantic-success);
    }

    &--warning {
      color: var(--semantic-warning);
    }

    &--primary {
      color: var(--semantic-primary);
    }

    &--info {
      color: var(--semantic-info);
    }
  }
}
