@use "../../../tokens/semantic-colors" as color;
@use "../../../tokens/spacings" as spacing;
@use "../../../tokens/effects" as effect;

@mixin slider-base {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  touch-action: none;
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
    opacity: var(--wim-opacity-ghost);

    .wim-slider__thumb,
    .wim-range-slider__thumb {
      cursor: not-allowed;
    }
  }

  &__track-container {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: var(--wim-color-border-secondary, #e5e7eb);
    border-radius: var(--wim-radius-full);
  }

  &__track {
    position: absolute;
    height: 100%;
    background-color: var(--wim-color-primary);
    border-radius: var(--wim-radius-full);
  }

  &__thumb {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    cursor: grab;
    outline: none;
    background-color: var(--wim-color-text-white);
    border: 2px solid var(--wim-color-primary);
    border-radius: var(--wim-radius-full);
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
    transform: translate(-50%, -50%);
    transition: box-shadow 0.2s;
    will-change: left;

    &:hover {
      z-index: 2;
      box-shadow: 0 0 0 4px color-mix(in srgb, var(--wim-color-primary) 10%, transparent);
    }

    &:focus-visible {
      z-index: 2;
      box-shadow: inset 0 0 0 2px var(--wim-color-primary);
    }

    &:active {
      z-index: 2;
      cursor: grabbing;
      box-shadow: 0 0 0 6px color-mix(in srgb, var(--wim-color-primary) 20%, transparent);
    }
  }
}


