@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/typography" as typography;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/lang" as lang;

@layer component {
  .wim-span {
    display: inline-flex;
    gap: spacings.$spacing-xs;
    align-items: center;
    font: inherit;
    color: inherit;
    cursor: pointer;

    .wim-icon {
      font-size: 0.7em;
    }

    &--xl {
      font-size: typography.$size-ex-large;
    }

    &--lg {
      font-size: typography.$size-large;
    }

    &--md {
      font-size: typography.$size-medium;
    }

    &--sm {
      font-size: typography.$size-small;
    }

    &--xs {
      font-size: typography.$size-ex-small;
    }

    &--black {
      color: var(--text-primary);
    }

    &--deepgray {
      color: colors.$text-deepgray;
    }

    &--gray {
      color: colors.$text-gray;
    }

    &--lightgray {
      color: colors.$text-lightgray;
    }

    &--white {
      color: var(--text-white);
    }

    &--error {
      color: var(--text-error);
    }

    &--primary {
      color: var(--color-primary);
    }

    &--destructive {
      color: var(--color-destructive);
    }

    &--bold {
      font-weight: typography.$weight-bold;
    }

    &--italic {
      font-style: typography.$style-italic;
    }
  }
}
