@use '../../src/tokens/semantic-colors' as colors;
@use '../../src/tokens/semantic-texts' as texts;


/* サイズ */
.font-size-ex-large{
  font-size: texts.$size-ex-large;
}

.font-size-large{
  font-size: texts.$size-large;
}

.font-size-medium{
  font-size: texts.$size-medium;
}

.font-size-small{
  font-size: texts.$size-small;
}

.font-size-ex-small{
  font-size: texts.$size-ex-small;
}

/* 色 */

.font-color-white {
  color: colors.$color-font-white;
}

.font-color-deepgray {
  color: colors.$color-font-deepgray;
}


.font-color-gray {
  color: colors.$color-font-gray;
}
.font-color-lightgray {
  color: colors.$color-font-lightgray;
}
.font-color-black {
  color: colors.$color-font-black;
}

.font-color-deepred {
  color: colors.$color-font-deepred;
}


.font-color-red {
  color: colors.$color-font-red;
}
.font-color-lightred {
  color: colors.$color-font-lightred;
}

/* 太さ */
.font-weight-normal {
  font-weight: texts.$weight-normal;
}

.font-weight-bold {
  font-weight: texts.$weight-bold;
}

/* 行間 */
.font-lines-loose-jpan {
  line-height: texts.$line-height-loose-jpan;
}
.font-lines-normal-jpan{
  line-height: texts.$line-height-normal-jpan;
}

.font-lines-tight-jpan {
  line-height: texts.$line-height-tight-jpan;
}


.font-lines-loose-latn {
  line-height: texts.$line-height-loose-latn;
}

.font-lines-normal-latn {
  line-height: texts.$line-height-normal-latn;
}

.font-lines-tight-latn{
  line-height: texts.$line-height-tight-latn;
}
