@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/typography" as typography;
@use "../../tokens/spacings" as spacings;
@use "../../tokens/effects" as effects;

@layer component {
    .wim-anchor {
        position: relative;
        min-width: 0;
        padding-left: 2px;
        background-color: transparent;

        &--horizontal {
            padding-left: 0;
            padding-bottom: 0;
            border-bottom: 1px solid colors.$scrollbar-track;

            .wim-anchor__ink {
                top: auto;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;

                &-ball {
                    top: 0;
                    height: 2px;
                    transition: left 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.3s ease;
                }
            }
        }

        &__ink {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: colors.$scrollbar-track; // Use a light gray from track
            overflow: hidden;

            &-ball {
                position: absolute;
                left: 0;
                z-index: 1;
                width: 2px;
                background-color: colors.$color-primary;
                opacity: 0;
                transition: top 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease;
            }
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;

            .wim-anchor__list {
                padding-left: spacings.$spacing-md;
            }

            &--horizontal {
                display: flex;
                flex-direction: row;
                gap: spacings.$spacing-md;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .wim-anchor__item {
                    white-space: nowrap;
                    padding: spacings.$spacing-xs spacings.$spacing-sm;
                }

                .wim-anchor__link {
                    padding-left: 0;
                }
            }
        }

        &__item {
            position: relative;
            padding: spacings.$spacing-2xs 0;
            line-height: spacings.$spacing-lg;

            &--active {
                >.wim-anchor__link {
                    font-weight: 500;
                    color: colors.$color-primary;
                }
            }
        }

        &__link {
            position: relative;
            display: block;
            padding-left: spacings.$spacing-md;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: normal;
            overflow-wrap: normal;
            font-size: typography.$size-medium;
            color: colors.$text-deepgray;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: colors.$color-primary;
            }
        }
    }
}