.wim-label{display:flex;flex-direction:column;gap:8px;width:100%}.wim-label__header{display:flex;gap:8px;align-items:center}.wim-label__text{font-size:.9rem;font-weight:700;color:var(--text-primary)}
