@charset "UTF-8";.wim-legend{font-size:.9rem;font-weight:700;color:var(--text-primary);padding:0 4px;margin-bottom:8px;display:table;float:left;width:100%;box-sizing:border-box}fieldset>.wim-legend{float:none;width:auto}
