@charset "UTF-8";.wim-legend{float:left;box-sizing:border-box;display:table;width:100%;padding:0 4px;margin-bottom:8px;font-size:.9rem;font-weight:700;color:var(--text-primary)}fieldset>.wim-legend{float:none;width:auto}
