@use "../../../styles/token-common" as *;

@layer component {
  .root {
    @include token-base;

    gap: 0.5em;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    border-radius: var(--wim-radius-full);

    // Sizes
    &.sm {
      min-width: 1.25em;
      height: 1.25em;
      padding: var(--wim-spacing-3xs) var(--wim-spacing-xs);
      font-size: var(--wim-font-size-2xs); // Use 2xs for small badge

      &.iconOnly {
        width: var(--wim-badge-dot-sm, var(--wim-radius-lg));
        min-width: 0;
        height: var(--wim-badge-dot-sm, var(--wim-radius-lg));
        padding: 0;
      }
    }

    &.md {
      min-width: 1.5em;
      height: 1.5em;
      padding: var(--wim-spacing-2xs) var(--wim-spacing-md);
      font-size: var(--wim-font-size-xs);

      &.iconOnly {
        width: var(--wim-badge-dot-md, var(--wim-spacing-xs));
        min-width: 0;
        height: var(--wim-badge-dot-md, var(--wim-spacing-xs));
        padding: 0;
      }
    }

    &.lg {
      min-width: 1.75em;
      height: 1.75em;
      padding: var(--wim-spacing-xs) var(--wim-spacing-lg);
      font-size: var(--wim-font-size-sm);

      &.iconOnly {
        width: var(--wim-badge-dot-lg, var(--wim-spacing-md));
        min-width: 0;
        height: var(--wim-badge-dot-lg, var(--wim-spacing-md));
        padding: 0;
      }
    }

    // Colors and Variants
    @include module-token-variants;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.05em;

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
