@layer component {
  .wim-marquee {
    display: flex;
    gap: var(--wim-spacing-md);
    width: 100%;
    overflow: hidden;
    user-select: none;

    &__content {
      display: flex;
      flex-shrink: 0;
      gap: var(--wim-spacing-md);
      justify-content: space-around;
      min-width: 100%;
      animation: wim-marquee-scroll var(--duration, 20s) linear infinite;
      will-change: transform;

      &--reverse {
        animation-direction: reverse;
      }

      &--vertical {
        flex-direction: column;
        animation: wim-marquee-scroll-vertical var(--duration, 20s) linear
          infinite;
        will-change: transform;
      }
    }

    &:hover .wim-marquee__content {
      animation-play-state: var(--pause-on-hover, running);
    }
  }

  @keyframes wim-marquee-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--wim-spacing-md)));
    }
  }

  @keyframes wim-marquee-scroll-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--wim-spacing-md)));
    }
  }
}
