@layer component {
  .wim-marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--spacing-md);
    width: 100%;

    &__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      gap: var(--spacing-md);
      min-width: 100%;
      animation: wim-marquee-scroll var(--duration, 20s) linear infinite;

      &--reverse {
        animation-direction: reverse;
      }

      &--vertical {
        flex-direction: column;
        animation: wim-marquee-scroll-vertical var(--duration, 20s) linear
          infinite;
      }
    }

    &:hover .wim-marquee__content {
      animation-play-state: var(--pause-on-hover, running);
    }
  }

  @keyframes wim-marquee-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--spacing-md)));
    }
  }

  @keyframes wim-marquee-scroll-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--spacing-md)));
    }
  }
}
