
@layer component {
  .root {
    display: block;
    width: 100%;
    scrollbar-color: var(--wim-color-border-secondary) transparent;

    /* Firefox */
    scrollbar-width: thin;

    /* Scrollbar styles */
    &::-webkit-scrollbar {
      width: var(--wim-scroll-thickness, 6px);
      height: var(--wim-scroll-thickness, 6px);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--wim-color-border-secondary);
      border-radius: var(--wim-radius-full);

      &:hover {
        background: var(--wim-color-border);
      }
    }
  }

}
