@use '../../src/tokens/semantic-colors' as colors;

.overflow-y-scroll {
 overflow-y: auto;
}

.custom-scrollbar {
  scrollbar-color: colors.$scrollbar-thumb colors.$scrollbar-track; /* サム(つまみ)とトラック(背景)の色 */
  scrollbar-width: thin; /* スクロールバーを細くする (androidは非対応)*/
  scrollbar-gutter: stable; /* スクロールバーのスペースを確保 */

}


