@use '../../src/tokens/semantic-colors' as colors;

@layer component {
  .wim-scrollarea {
    scrollbar-color: colors.$scrollbar-thumb colors.$scrollbar-track;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}