@use "../../src/tokens/effects" as effects;

@layer component {
    .wim-affix {
        &--affixed {
            // Ensure the affixed element doesn't have unintended margins
            margin: 0;
            transition: none;
        }
    }
}