@layer component {
  .root {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--wim-color-text-on-disabled);
    user-select: none;
    background-color: var(--wim-color-disabled);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Shapes
  .circle {
    border-radius: var(--wim-radius-full);
  }

  .rounded {
    border-radius: var(--wim-radius-md);
  }

  // Sizes
  .sm {
    width: var(--wim-avatar-size-sm, var(--wim-spacing-5xl));
    height: var(--wim-avatar-size-sm, var(--wim-spacing-5xl));
    font-size: var(--wim-font-size-xs);
  }

  .md {
    width: var(--wim-avatar-size-md, var(--wim-height-md));
    height: var(--wim-avatar-size-md, var(--wim-height-md));
    font-size: var(--wim-font-size-sm);
  }

  .lg {
    width: var(--wim-avatar-size-lg, var(--wim-height-lg));
    height: var(--wim-avatar-size-lg, var(--wim-height-lg));
    font-size: var(--wim-font-size-lg);
  }

  // Colors / Intents
  .primary {
    color: var(--wim-color-text-on-primary);
    background-color: var(--wim-color-primary);
  }

  .secondary {
    color: var(--wim-color-text-on-secondary);
    background-color: var(--wim-color-secondary);
  }

  .error {
    color: var(--wim-color-text-on-destructive);
    background-color: var(--wim-color-destructive);
  }

  .success {
    color: var(--wim-color-text-on-positive);
    background-color: var(--wim-color-positive);
  }

  .neutral {
    color: var(--wim-color-text-on-informative);
    background-color: var(--wim-color-informative);
  }

  .info {
    color: var(--wim-color-text-on-informative);
    background-color: var(--wim-color-informative);
  }

  .warning {
    color: var(--wim-color-text-on-caution);
    background-color: var(--wim-color-caution);
  }

  .destructive {
    color: var(--wim-color-text-on-destructive);
    background-color: var(--wim-color-destructive);
  }

  .positive {
    color: var(--wim-color-text-on-positive);
    background-color: var(--wim-color-positive);
  }

  .default {
    color: var(--wim-color-text-on-disabled);
    background-color: var(--wim-color-disabled);
  }

  .initials {
    font-weight: 600;
    text-transform: uppercase;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 60%;
      height: 60%;
    }
  }
}
