.wim-result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: var(--spacing-xl) var(--spacing-md);
    text-align: center;

    &-icon {
        margin-bottom: 1.5rem;

        .wim-icon--lg {
            width: 72px;
            height: 72px;
        }
    }

    &-title {
        font-size: var(--font-size-ex-large);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-tight-latn);
        color: var(--text-primary);
    }

    &-subtitle {
        max-width: 600px;
        font-size: var(--font-size-medium);
        line-height: var(--line-height-normal-jpan);
        color: var(--text-secondary);
    }

    &-extra {
        display: flex;
        gap: var(--spacing-sm);
        justify-content: center;
        margin-top: var(--spacing-lg);
    }

    &-content {
        width: 100%;
        max-width: 800px;
        padding: var(--spacing-md);
        margin-top: var(--spacing-lg);
        text-align: left;
        background-color: var(--bg-component-secondary, #f9f9f9);
        border-radius: var(--radius-sm);
    }
}