.wim-result {
  // Overrides for Result specifically if needed
  // Result uses StatusContent internally, which already has default layout
  .wim-interactive-area__icon {
    .wim-icon {
      width: 72px;
      height: 72px;
    }
  }

  .wim-interactive-area__content {
    padding: var(--spacing-md);
    margin-top: var(--spacing-lg);
    text-align: left;
    background-color: var(--bg-component-secondary, #f9f9f9);
    border-radius: var(--radius-sm);
  }
}