@layer component {
  .root {
    display: inline-flex;
    gap: var(--wim-spacing-xs);
    align-items: center;
    font: inherit;
    color: inherit;
    cursor: pointer;

    svg {
      font-size: var(--wim-font-size-icon-inner);
    }

    &.xl {
      font-size: var(--wim-font-size-xl);
    }

    &.lg {
      font-size: var(--wim-font-size-lg);
    }

    &.md {
      font-size: var(--wim-font-size-md);
    }

    &.sm {
      font-size: var(--wim-font-size-sm);
    }

    &.xs {
      font-size: var(--wim-font-size-xs);
    }

    &.primary {
      color: var(--wim-color-text-accent);
    }

    &.danger {
      color: var(--wim-color-text-danger);
    }

    &.success {
      color: var(--wim-color-text-success);
    }

    &.warning {
      color: var(--wim-color-text-warning);
    }

    &.info {
      color: var(--wim-color-text-info);
    }

    &.bold {
      font-weight: var(--wim-font-weight-bold);
    }

    &.italic {
      font-style: italic;
    }

    &.line-through {
      text-decoration: var(--wim-decoration-line-through);
    }

    &.underline,
    .underline {
      text-decoration: var(--wim-decoration-underline);
      text-decoration-skip-ink: none;
      text-underline-offset: var(--wim-text-underline-offset);
    }

    &.highlight,
    .highlight {
      background-color: var(--wim-comp-decoration-highlight-color);
    }
  }
}
