@use "../../src/tokens/semantic-colors" as colors;

@layer component {
  .wim-scroll-area {
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: colors.$scrollbar-thumb colors.$scrollbar-track;
    scrollbar-width: thin;
  }
}