@use "../../../styles/font-mixins" as font;

@layer component {
  .root {
    // Use mono for numbers to prevent jumping
    @include font.mono-family;

    display: inline-flex;
    align-items: center;
    font-size: var(--wim-font-size-xs);
    color: var(--wim-color-text-tertiary);
    pointer-events: none;
    user-select: none;

    &.danger {
      font-weight: var(--wim-font-weight-bold);
      color: var(--wim-color-text-danger);
    }

    &.warning {
      color: var(--wim-color-text-warning);
    }
  }

  .separator {
    margin: 0 var(--wim-spacing-3xs);
    opacity: var(--wim-opacity-disabled);
  }

}
