@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/effects" as effects;

@layer component {
    .wim-scroll-progress {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 4px;
        background-color: transparent;

        &__bar {
            height: 100%;
            background-color: colors.$color-primary;
            transition: width 0.1s ease-out;
        }

        &--secondary {
            .wim-scroll-progress__bar {
                background-color: colors.$color-secondary;
            }
        }

        &--success {
            .wim-scroll-progress__bar {
                background-color: colors.$color-positive;
            }
        }

        &--warning {
            .wim-scroll-progress__bar {
                background-color: colors.$color-caution;
            }
        }

        &--error {
            .wim-scroll-progress__bar {
                background-color: colors.$color-destructive;
            }
        }
    }
}