@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/typography" as typography;
@use "../../tokens/spacings" as spacings;
@use "../../tokens/effects" as effects;
@use "../../tokens/breakpoints" as breakpoints;

@layer component {
    .wim-footer {
        width: 100%;
        padding: spacings.$spacing-2xl 0 spacings.$spacing-xl;
        transition: all effects.$transition-base;

        &--bg-primary {
            color: colors.$text-black;
            background-color: var(--wim-color-bg-primary, #fff);
        }

        &--bg-secondary {
            color: colors.$text-black;
            background-color: var(--wim-color-bg-secondary, #f4f4f5);
        }

        &--bg-dark {
            color: #fff;
            background-color: #18181b;

            .wim-footer__section-title {
                color: #fff;
            }

            .wim-footer__bottom {
                color: #a1a1aa;
                border-top-color: #27272a;
            }

            .wim-footer__section-content {
                color: #fff;
            }
        }

        &--bordered {
            border-top: 1px solid var(--wim-color-border-secondary, #e2e2e8);
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: spacings.$spacing-2xl;
            max-width: 1200px;
            padding: 0 spacings.$spacing-xl;
            margin: 0 auto;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: spacings.$spacing-md;

            &-title {
                margin: 0;
                font-size: typography.$size-medium;
                font-weight: typography.$weight-bold;
                color: colors.$text-black;
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: spacings.$spacing-xs;
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column-reverse;
            gap: spacings.$spacing-md;
            align-items: center;
            padding-top: spacings.$spacing-xl;
            margin-top: spacings.$spacing-xl;
            font-size: typography.$size-small;
            color: colors.$text-deepgray;
            border-top: 1px solid var(--wim-color-border-secondary, #e2e2e8);

            @include breakpoints.up(sm) {
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
            }
        }
    }
}