@use "../../tokens/breakpoints" as breakpoints;

@layer component {
  .wim-footer {
    width: 100%;
    padding: var(--wim-spacing-2xl) 0 var(--wim-spacing-xl);
    transition: all var(--wim-transition-base);

    &--bg-primary {
      color: var(--wim-color-text-primary);
      background-color: var(--wim-color-bg-primary, #fff);
    }

    &--bg-secondary {
      color: var(--wim-color-text-primary);
      background-color: var(--wim-color-bg-secondary, #f4f4f5);
    }

    &--bg-dark {
      color: #fff;
      background-color: #18181b;

      .wim-footer__section-title {
        color: #fff;
      }

      .wim-footer__bottom {
        color: #a1a1aa;
        border-top-color: #27272a;
      }

      .wim-footer__section-content {
        color: #fff;
      }
    }

    &--bordered {
      border-top: 1px solid var(--wim-color-border-secondary, #e2e2e8);
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--wim-spacing-2xl);
      max-width: 1200px;
      padding: 0 var(--wim-spacing-xl);
      margin: 0 auto;
    }

    &__section {
      display: flex;
      flex-direction: column;
      gap: var(--wim-spacing-md);

      &-title {
        margin: 0;
        font-size: var(--wim-font-size-md);
        font-weight: var(--wim-font-weight-bold);
        color: var(--wim-color-text-primary);
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: var(--wim-spacing-xs);
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--wim-spacing-md);
      align-items: center;
      padding-top: var(--wim-spacing-xl);
      margin-top: var(--wim-spacing-xl);
      font-size: var(--wim-font-size-sm);
      color: var(--wim-color-text-secondary);
      border-top: 1px solid var(--wim-color-border-secondary, #e2e2e8);

      @include breakpoints.up(sm) {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}
