@use "../../src/tokens/spacings" as spacings;

.wim-field-error {
    display: flex;
    align-items: center;
    min-height: 1.5rem; // メッセージがなくても高さが確保されるように（レイアウトシフト防止）
    margin-top: calc(var(--spacing-xs) * -1); // 入力フィールドとの適度な余白 (Input/Textareaのgapと調整)

    // Paragraphコンポーネントが内部にあるため、その余白をリセット
    p.wim-paragraph {
        margin: 0;
    }
}