@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/spacings" as spacings;

.wim-colorpicker {
    height: 42px; // Match other inputs
    padding: spacings.$spacing-3xs;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: spacings.$radius-sm;
    }

    &::-moz-color-swatch {
        border: none;
        border-radius: spacings.$radius-sm;
    }
}
