@use "sass:map";

.wim-chip {
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacing-xs);
  align-items: center;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  border: 1px solid transparent;
  border-radius: var(--radius-full);
  transition: all 0.2s ease-in-out;
  max-width: 100%;

  &--md {
    height: 2rem;
    padding: 0 var(--spacing-md);
    font-size: var(--font-size-minus-2);

    .wim-chip__avatar {
      width: 2rem;
      height: 2rem;
      margin-left: calc(-1 * var(--spacing-md) - 1px);
    }
  }

  &--sm {
    height: 1.6rem;
    padding: 0 var(--spacing-sm);
    font-size: var(--font-size-minus-3);

    .wim-chip__avatar {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: calc(-1 * var(--spacing-sm) - 1px);
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.85);
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(0 0 0 / 0.1);
    border-radius: var(--radius-full);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }

  &__icon {
    display: flex;
    font-size: 1.1em;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin-right: -var(--spacing-xs);
    cursor: pointer;
    border-radius: var(--radius-full);
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      background-color: rgb(0 0 0 / 0.1);
      opacity: 1;
    }
  }

  /* Colors and Variants */
  $chip-colors: (
    "primary": ("base": var(--color-primary),
      "on": var(--color-text-on-primary),
    ),
    "secondary": ("base": var(--color-secondary),
      "on": var(--color-text-on-secondary),
    ),
    "neutral": ("base": var(--color-disabled),
      "on": var(--text-primary),
    ),
  );

@each $name, $pairs in $chip-colors {
  $base: map.get($pairs, "base");
  $on: map.get($pairs, "on");

  &--#{$name}.wim-chip--solid {
    color: $on;
    background-color: $base;

    &.wim-chip--selected {
      box-shadow:
        0 0 0 2px white,
        0 0 0 4px $base;
    }
  }

  &--#{$name}.wim-chip--outline {
    color: var(--text-primary);
    background-color: transparent;
    border-color: var(--text-disabled);

    &.wim-chip--selected {
      color: $base;
      background-color: color-mix(in srgb, $base 10%, transparent);
      border-color: $base;
    }

    &.wim-chip--clickable:hover {
      background-color: color-mix(in srgb, $base 5%, transparent);
    }
  }
}

&:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  filter: none;
}
}