@layer component {
  .root {
    line-height: var(--wim-line-height-snug-jp);

    .list {
      display: flex;
      flex-wrap: wrap;
      row-gap: var(--wim-spacing-md);
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .item {
      display: flex;
      align-items: center;
    }

    .content {
      display: flex;
      align-items: center;
    }

    .link {
      text-decoration: none;

      .linkLabel {
        line-height: inherit;
      }
    }

    .label {
      display: inline-flex;
      gap: var(--wim-spacing-3xs);
      align-items: center;
      color: var(--wim-color-text-tertiary); // Default non-link/previous item color

      &.current {
        font-weight: var(--wim-font-weight-bold);
        color: var(--wim-color-text-primary);
      }

      .labelIcon {
        font-size: 0.9em;
      }
    }

    .separator {
      display: flex;
      align-items: center;
      padding: 0 var(--wim-spacing-xs);
      color: var(--wim-color-text-tertiary);
      user-select: none;

      .separatorIcon {
        font-size: 0.8em;
        opacity: var(--wim-opacity-disabled);
      }
    }

    // Sizes
    &.lg {
      font-size: var(--wim-font-size-lg);

      .separator {
        padding: 0 var(--wim-spacing-sm);
      }
    }

    &.md {
      font-size: var(--wim-font-size-md);
    }

    &.sm {
      font-size: var(--wim-font-size-sm);

      .separator {
        padding: 0 var(--wim-spacing-2xs);
      }
    }
  }
}
