@layer component {
  .wim-breadcrumb {
    line-height: 1.5;

    &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: var(--wim-spacing-md);
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &__item {
      display: flex;
      align-items: center;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__link {
      text-decoration: none;

      .wim-link__label {
        line-height: inherit;
      }

      // Override Link base style if needed for breadcrumb context
      &:hover {
        text-decoration: underline;
      }
    }

    &__label {
      display: inline-flex;
      gap: var(--wim-spacing-3xs);
      align-items: center;
      color: var(--wim-color-text-tertiary); // Default non-link/previous item color

      &--current {
        font-weight: var(--wim-font-weight-bold);
        color: var(--wim-color-text-primary);
      }

      &-icon {
        font-size: 0.9em;
      }
    }

    &__separator {
      display: flex;
      align-items: center;
      padding: 0 var(--wim-spacing-xs);
      color: var(--wim-color-text-tertiary);
      user-select: none;

      &-icon {
        font-size: 0.8em;
        opacity: var(--wim-opacity-disabled);
      }
    }

    // Sizes
    &--lg {
      font-size: var(--wim-font-size-lg);

      .wim-breadcrumb__separator {
        padding: 0 var(--wim-spacing-sm);
      }
    }

    &--md {
      font-size: var(--wim-font-size-md);
    }

    &--sm {
      font-size: var(--wim-font-size-sm);

      .wim-breadcrumb__separator {
        padding: 0 var(--wim-spacing-2xs);
      }
    }
  }
}
