/* 使用可能な色のパレット */

/* HEX、RGB、HSL値を定義 */

/* RGB値を $pccs-g1-rgb: 107, 69, 90; のようにカンマ区切りの数値で定義しているのは、CSSのrgba()関数での透明度指定を容易にするため */

/* 例：color: rgba(var(--pccs-g1-rgb), 0.7); */

/* Achromatic color */
$pccs-w: #fff;

/* = Gy-9.5 */
$pccs-w-rgb: 255, 255, 255;
$pccs-w-hsl: hsl(0deg 0% 100%);
$pccs-gy8-5: #e5e5e5;
$pccs-gy8-5-rgb: 229, 229, 229;
$pccs-gy8-5-hsl: hsl(0deg 0% 90%);
$pccs-gy7-5: #b6b6b6;
$pccs-gy7-5-rgb: 182, 182, 182;
$pccs-gy7-5-hsl: hsl(0deg 0% 71%);
$pccs-gy6-5: #8a8a8a;
$pccs-gy6-5-rgb: 138, 138, 138;
$pccs-gy6-5-hsl: hsl(0deg 0% 54%);
$pccs-gy5-5: #646464;
$pccs-gy5-5-rgb: 100, 100, 100;
$pccs-gy5-5-hsl: hsl(0deg 0% 39%);
$pccs-gy4-5: #4f4f4f;
$pccs-gy4-5-rgb: 79, 79, 79;
$pccs-gy4-5-hsl: hsl(0deg 0% 31%);
$pccs-gy3-5: #393939;
$pccs-gy3-5-rgb: 57, 57, 57;
$pccs-gy3-5-hsl: hsl(0deg 0% 22%);
$pccs-gy2-5: #262626;
$pccs-gy2-5-rgb: 38, 38, 38;
$pccs-gy2-5-hsl: hsl(0deg 0% 15%);
$pccs-bk: #000;

/* = Gy-1.5 */
$pccs-bk-rgb: 0, 0, 0;
$pccs-bk-hsl: hsl(0deg 0% 0%);

/* Vivid Tone */
$pccs-v1: #d40045;
$pccs-v1-rgb: 212, 0, 69;
$pccs-v1-hsl: hsl(340deg 100% 42%);
$pccs-v2: #ee0026;
$pccs-v2-rgb: 238, 0, 38;
$pccs-v2-hsl: hsl(350deg 100% 47%);
$pccs-v3: #fd1a1c;
$pccs-v3-rgb: 253, 26, 28;
$pccs-v3-hsl: hsl(359deg 98% 55%);
$pccs-v4: #fe4118;
$pccs-v4-rgb: 254, 65, 24;
$pccs-v4-hsl: hsl(12deg 99% 55%);
$pccs-v5: #ff590b;
$pccs-v5-rgb: 255, 89, 11;
$pccs-v5-hsl: hsl(19deg 100% 52%);
$pccs-v6: #ff7f00;
$pccs-v6-rgb: 255, 127, 0;
$pccs-v6-hsl: hsl(30deg 100% 50%);
$pccs-v7: #fc0;
$pccs-v7-rgb: 255, 204, 0;
$pccs-v7-hsl: hsl(48deg 100% 50%);
$pccs-v8: #ffe600;
$pccs-v8-rgb: 255, 230, 0;
$pccs-v8-hsl: hsl(54deg 100% 50%);
$pccs-v9: #cce700;
$pccs-v9-rgb: 204, 231, 0;
$pccs-v9-hsl: hsl(66deg 100% 45%);
$pccs-v10: #99cf15;
$pccs-v10-rgb: 153, 207, 21;
$pccs-v10-hsl: hsl(78deg 81% 45%);
$pccs-v11: #66b82b;
$pccs-v11-rgb: 102, 184, 43;
$pccs-v11-hsl: hsl(92deg 63% 45%);
$pccs-v12: #33a23d;
$pccs-v12-rgb: 51, 162, 61;
$pccs-v12-hsl: hsl(126deg 54% 42%);
$pccs-v13: #008f62;
$pccs-v13-rgb: 0, 143, 98;
$pccs-v13-hsl: hsl(161deg 100% 28%);
$pccs-v14: #008678;
$pccs-v14-rgb: 0, 134, 120;
$pccs-v14-hsl: hsl(174deg 100% 26%);
$pccs-v15: #007a87;
$pccs-v15-rgb: 0, 122, 135;
$pccs-v15-hsl: hsl(186deg 100% 26%);
$pccs-v16: #055d87;
$pccs-v16-rgb: 5, 93, 135;
$pccs-v16-hsl: hsl(204deg 92% 27%);
$pccs-v17: #093f86;
$pccs-v17-rgb: 9, 63, 134;
$pccs-v17-hsl: hsl(214deg 87% 28%);
$pccs-v18: #0f218b;
$pccs-v18-rgb: 15, 33, 139;
$pccs-v18-hsl: hsl(230deg 80% 30%);
$pccs-v19: #1d1a88;
$pccs-v19-rgb: 29, 26, 136;
$pccs-v19-hsl: hsl(242deg 69% 32%);
$pccs-v20: #281285;
$pccs-v20-rgb: 40, 18, 133;
$pccs-v20-hsl: hsl(251deg 76% 29%);
$pccs-v21: #340c81;
$pccs-v21-rgb: 52, 12, 129;
$pccs-v21-hsl: hsl(265deg 82% 28%);
$pccs-v22: #56007d;
$pccs-v22-rgb: 86, 0, 125;
$pccs-v22-hsl: hsl(281deg 100% 25%);
$pccs-v23: #770071;
$pccs-v23-rgb: 119, 0, 113;
$pccs-v23-hsl: hsl(303deg 100% 23%);
$pccs-v24: #af0065;
$pccs-v24-rgb: 175, 0, 101;
$pccs-v24-hsl: hsl(325deg 100% 34%);

/* Bright Tone */
$pccs-b1: #ed3b6b;
$pccs-b1-rgb: 237, 59, 107;
$pccs-b1-hsl: hsl(343deg 83% 58%);
$pccs-b2: #fa344d;
$pccs-b2-rgb: 250, 52, 77;
$pccs-b2-hsl: hsl(350deg 94% 59%);
$pccs-b3: #fc3633;
$pccs-b3-rgb: 252, 54, 51;
$pccs-b3-hsl: hsl(1deg 97% 60%);
$pccs-b4: #fc4e33;
$pccs-b4-rgb: 252, 78, 51;
$pccs-b4-hsl: hsl(11deg 96% 59%);
$pccs-b5: #ff6e2b;
$pccs-b5-rgb: 255, 110, 43;
$pccs-b5-hsl: hsl(23deg 100% 58%);
$pccs-b6: #ff9913;
$pccs-b6-rgb: 255, 153, 19;
$pccs-b6-hsl: hsl(34deg 100% 54%);
$pccs-b7: #ffcb1f;
$pccs-b7-rgb: 255, 203, 31;
$pccs-b7-hsl: hsl(45deg 100% 56%);
$pccs-b8: #fff231;
$pccs-b8-rgb: 255, 242, 49;
$pccs-b8-hsl: hsl(56deg 100% 59%);
$pccs-b9: #cde52f;
$pccs-b9-rgb: 205, 229, 47;
$pccs-b9-hsl: hsl(67deg 81% 54%);
$pccs-b10: #99d02c;
$pccs-b10-rgb: 153, 208, 44;
$pccs-b10-hsl: hsl(81deg 65% 49%);
$pccs-b11: #55a73b;
$pccs-b11-rgb: 85, 167, 59;
$pccs-b11-hsl: hsl(104deg 49% 44%);
$pccs-b12: #32a65d;
$pccs-b12-rgb: 50, 166, 93;
$pccs-b12-hsl: hsl(148deg 54% 42%);
$pccs-b13: #2da380;
$pccs-b13-rgb: 45, 163, 128;
$pccs-b13-hsl: hsl(164deg 57% 41%);
$pccs-b14: #1aa28e;
$pccs-b14-rgb: 26, 162, 142;
$pccs-b14-hsl: hsl(173deg 73% 37%);
$pccs-b15: #1fb3b3;
$pccs-b15-rgb: 31, 179, 179;
$pccs-b15-hsl: hsl(180deg 71% 41%);
$pccs-b16: #1c86ae;
$pccs-b16-rgb: 28, 134, 174;
$pccs-b16-hsl: hsl(199deg 72% 40%);
$pccs-b17: #2b78b0;
$pccs-b17-rgb: 43, 120, 176;
$pccs-b17-hsl: hsl(207deg 60% 43%);
$pccs-b18: #396bb0;
$pccs-b18-rgb: 57, 107, 176;
$pccs-b18-hsl: hsl(215deg 50% 46%);
$pccs-b19: #5468ad;
$pccs-b19-rgb: 84, 104, 173;
$pccs-b19-hsl: hsl(228deg 45% 50%);
$pccs-b20: #6a64ae;
$pccs-b20-rgb: 106, 100, 174;
$pccs-b20-hsl: hsl(244deg 38% 54%);
$pccs-b21: #8561ab;
$pccs-b21-rgb: 133, 97, 171;
$pccs-b21-hsl: hsl(260deg 39% 52%);
$pccs-b22: #a459ab;
$pccs-b22-rgb: 164, 89, 171;
$pccs-b22-hsl: hsl(300deg 39% 51%);
$pccs-b23: #c75bb1;
$pccs-b23-rgb: 199, 91, 177;
$pccs-b23-hsl: hsl(315deg 52% 57%);
$pccs-b24: #df4c93;
$pccs-b24-rgb: 223, 76, 147;
$pccs-b24-hsl: hsl(329deg 68% 59%);

/* Strong Tone */
$pccs-s1: #b01040;
$pccs-s1-rgb: 176, 16, 64;
$pccs-s1-hsl: hsl(342deg 83% 38%);
$pccs-s2: #ca1028;
$pccs-s2-rgb: 202, 16, 40;
$pccs-s2-hsl: hsl(350deg 84% 43%);
$pccs-s3: #c21;
$pccs-s3-rgb: 204, 34, 17;
$pccs-s3-hsl: hsl(5deg 84% 43%);
$pccs-s4: #cc4613;
$pccs-s4-rgb: 204, 70, 19;
$pccs-s4-hsl: hsl(19deg 83% 44%);
$pccs-s5: #d45f10;
$pccs-s5-rgb: 212, 95, 16;
$pccs-s5-hsl: hsl(25deg 86% 45%);
$pccs-s6: #d97610;
$pccs-s6-rgb: 217, 118, 16;
$pccs-s6-hsl: hsl(30deg 86% 46%);
$pccs-s7: #d19711;
$pccs-s7-rgb: 209, 151, 17;
$pccs-s7-hsl: hsl(43deg 84% 44%);
$pccs-s8: #ccb914;
$pccs-s8-rgb: 204, 185, 20;
$pccs-s8-hsl: hsl(54deg 82% 44%);
$pccs-s9: #b3b514;
$pccs-s9-rgb: 179, 181, 20;
$pccs-s9-hsl: hsl(61deg 79% 39%);
$pccs-s10: #8ca114;
$pccs-s10-rgb: 140, 161, 20;
$pccs-s10-hsl: hsl(70deg 77% 35%);
$pccs-s11: #41941e;
$pccs-s11-rgb: 65, 148, 30;
$pccs-s11-hsl: hsl(100deg 66% 35%);
$pccs-s12: #28853f;
$pccs-s12-rgb: 40, 133, 63;
$pccs-s12-hsl: hsl(145deg 55% 34%);
$pccs-s13: #287a52;
$pccs-s13-rgb: 40, 122, 82;
$pccs-s13-hsl: hsl(155deg 51% 32%);
$pccs-s14: #297364;
$pccs-s14-rgb: 41, 115, 100;
$pccs-s14-hsl: hsl(169deg 47% 31%);
$pccs-s15: #26707b;
$pccs-s15-rgb: 38, 112, 123;
$pccs-s15-hsl: hsl(188deg 54% 31%);
$pccs-s16: #205b85;
$pccs-s16-rgb: 32, 91, 133;
$pccs-s16-hsl: hsl(207deg 62% 32%);
$pccs-s17: #224a87;
$pccs-s17-rgb: 34, 74, 135;
$pccs-s17-hsl: hsl(218deg 61% 33%);
$pccs-s18: #243b8b;
$pccs-s18-rgb: 36, 59, 139;
$pccs-s18-hsl: hsl(229deg 61% 34%);
$pccs-s19: #241f86;
$pccs-s19-rgb: 36, 31, 134;
$pccs-s19-hsl: hsl(243deg 64% 32%);
$pccs-s20: #3d1c84;
$pccs-s20-rgb: 61, 28, 132;
$pccs-s20-hsl: hsl(263deg 65% 31%);
$pccs-s21: #4e2283;
$pccs-s21-rgb: 78, 34, 131;
$pccs-s21-hsl: hsl(270deg 58% 32%);
$pccs-s22: #5f2883;
$pccs-s22-rgb: 95, 40, 131;
$pccs-s22-hsl: hsl(276deg 53% 34%);
$pccs-s23: #8c1d84;
$pccs-s23-rgb: 140, 29, 132;
$pccs-s23-hsl: hsl(302deg 65% 33%);
$pccs-s24: #9a0f50;
$pccs-s24-rgb: 154, 15, 80;
$pccs-s24-hsl: hsl(335deg 82% 33%);

/* Deep Tone */
$pccs-dp1: #870042;
$pccs-dp1-rgb: 135, 0, 66;
$pccs-dp1-hsl: hsl(329deg 100% 26%);
$pccs-dp2: #9d002b;
$pccs-dp2-rgb: 157, 0, 43;
$pccs-dp2-hsl: hsl(344deg 100% 31%);
$pccs-dp3: #a20715;
$pccs-dp3-rgb: 162, 7, 21;
$pccs-dp3-hsl: hsl(354deg 91% 33%);
$pccs-dp4: #a51200;
$pccs-dp4-rgb: 165, 18, 0;
$pccs-dp4-hsl: hsl(6deg 100% 32%);
$pccs-dp5: #a42f03;
$pccs-dp5-rgb: 164, 47, 3;
$pccs-dp5-hsl: hsl(16deg 96% 33%);
$pccs-dp6: #a24a02;
$pccs-dp6-rgb: 162, 74, 2;
$pccs-dp6-hsl: hsl(27deg 97% 32%);
$pccs-dp7: #a46603;
$pccs-dp7-rgb: 164, 102, 3;
$pccs-dp7-hsl: hsl(37deg 95% 33%);
$pccs-dp8: #a48204;
$pccs-dp8-rgb: 164, 130, 4;
$pccs-dp8-hsl: hsl(47deg 95% 33%);
$pccs-dp9: #949110;
$pccs-dp9-rgb: 148, 145, 16;
$pccs-dp9-hsl: hsl(59deg 81% 32%);
$pccs-dp10: #518517;
$pccs-dp10-rgb: 81, 133, 23;
$pccs-dp10-hsl: hsl(85deg 70% 30%);
$pccs-dp11: #307a25;
$pccs-dp11-rgb: 48, 122, 37;
$pccs-dp11-hsl: hsl(109deg 54% 33%);
$pccs-dp12: #306f42;
$pccs-dp12-rgb: 48, 111, 66;
$pccs-dp12-hsl: hsl(145deg 42% 31%);
$pccs-dp13: #186a53;
$pccs-dp13-rgb: 24, 106, 83;
$pccs-dp13-hsl: hsl(161deg 63% 25%);
$pccs-dp14: #025865;
$pccs-dp14-rgb: 2, 88, 101;
$pccs-dp14-hsl: hsl(188deg 96% 20%);
$pccs-dp15: #034f69;
$pccs-dp15-rgb: 3, 79, 105;
$pccs-dp15-hsl: hsl(200deg 94% 21%);
$pccs-dp16: #04436e;
$pccs-dp16-rgb: 4, 67, 110;
$pccs-dp16-hsl: hsl(210deg 93% 22%);
$pccs-dp17: #05426f;
$pccs-dp17-rgb: 5, 66, 111;
$pccs-dp17-hsl: hsl(209deg 91% 23%);
$pccs-dp18: #073e74;
$pccs-dp18-rgb: 7, 62, 116;
$pccs-dp18-hsl: hsl(213deg 90% 24%);
$pccs-dp19: #1d1a88;
$pccs-dp19-rgb: 29, 26, 136;
$pccs-dp19-hsl: hsl(242deg 69% 32%);
$pccs-dp20: #281285;
$pccs-dp20-rgb: 40, 18, 133;
$pccs-dp20-hsl: hsl(251deg 76% 29%);
$pccs-dp21: #340c81;
$pccs-dp21-rgb: 52, 12, 129;
$pccs-dp21-hsl: hsl(265deg 82% 28%);
$pccs-dp22: #56007d;
$pccs-dp22-rgb: 86, 0, 125;
$pccs-dp22-hsl: hsl(281deg 100% 25%);
$pccs-dp23: #770071;
$pccs-dp23-rgb: 119, 0, 113;
$pccs-dp23-hsl: hsl(303deg 100% 23%);
$pccs-dp24: #af0065;
$pccs-dp24-rgb: 175, 0, 101;
$pccs-dp24-hsl: hsl(325deg 100% 34%);

/* Light Tone */
$pccs-lt1: #ee7296;
$pccs-lt1-rgb: 238, 114, 150;
$pccs-lt1-hsl: hsl(343deg 76% 69%);
$pccs-lt2: #fb7482;
$pccs-lt2-rgb: 251, 116, 130;
$pccs-lt2-hsl: hsl(352deg 92% 72%);
$pccs-lt3: #fa7272;
$pccs-lt3-rgb: 250, 114, 114;
$pccs-lt3-hsl: hsl(0deg 92% 71%);
$pccs-lt4: #fb8071;
$pccs-lt4-rgb: 251, 128, 113;
$pccs-lt4-hsl: hsl(8deg 94% 71%);
$pccs-lt5: #fa996f;
$pccs-lt5-rgb: 250, 153, 111;
$pccs-lt5-hsl: hsl(24deg 92% 71%);
$pccs-lt6: #fdb56d;
$pccs-lt6-rgb: 253, 181, 109;
$pccs-lt6-hsl: hsl(34deg 96% 71%);
$pccs-lt7: #fcd474;
$pccs-lt7-rgb: 252, 212, 116;
$pccs-lt7-hsl: hsl(44deg 96% 72%);
$pccs-lt8: #fef27a;
$pccs-lt8-rgb: 254, 242, 122;
$pccs-lt8-hsl: hsl(54deg 98% 74%);
$pccs-lt9: #dded71;
$pccs-lt9-rgb: 221, 237, 113;
$pccs-lt9-hsl: hsl(69deg 79% 69%);
$pccs-lt10: #b3de6a;
$pccs-lt10-rgb: 179, 222, 106;
$pccs-lt10-hsl: hsl(84deg 63% 64%);
$pccs-lt11: #9ad47f;
$pccs-lt11-rgb: 154, 212, 127;
$pccs-lt11-hsl: hsl(97deg 56% 76%);
$pccs-lt12: #7fc97e;
$pccs-lt12-rgb: 127, 201, 126;
$pccs-lt12-hsl: hsl(119deg 44% 64%);
$pccs-lt13: #72c591;
$pccs-lt13-rgb: 114, 197, 145;
$pccs-lt13-hsl: hsl(150deg 48% 61%);
$pccs-lt14: #66c1af;
$pccs-lt14-rgb: 102, 193, 175;
$pccs-lt14-hsl: hsl(172deg 49% 58%);
$pccs-lt15: #66c4c4;
$pccs-lt15-rgb: 102, 196, 196;
$pccs-lt15-hsl: hsl(180deg 49% 58%);
$pccs-lt16: #67b1ca;
$pccs-lt16-rgb: 103, 177, 202;
$pccs-lt16-hsl: hsl(197deg 50% 60%);
$pccs-lt17: #67a9c9;
$pccs-lt17-rgb: 103, 169, 201;
$pccs-lt17-hsl: hsl(207deg 49% 60%);
$pccs-lt18: #689eca;
$pccs-lt18-rgb: 104, 158, 202;
$pccs-lt18-hsl: hsl(213deg 50% 60%);
$pccs-lt19: #7288c2;
$pccs-lt19-rgb: 114, 136, 194;
$pccs-lt19-hsl: hsl(223deg 44% 60%);
$pccs-lt20: #817dba;
$pccs-lt20-rgb: 129, 125, 186;
$pccs-lt20-hsl: hsl(245deg 36% 61%);
$pccs-lt21: #9678b8;
$pccs-lt21-rgb: 150, 120, 184;
$pccs-lt21-hsl: hsl(273deg 39% 60%);
$pccs-lt22: #b173b6;
$pccs-lt22-rgb: 177, 115, 182;
$pccs-lt22-hsl: hsl(296deg 38% 58%);
$pccs-lt23: #c972b6;
$pccs-lt23-rgb: 201, 114, 182;
$pccs-lt23-hsl: hsl(315deg 49% 62%);
$pccs-lt24: #e170a4;
$pccs-lt24-rgb: 225, 112, 164;
$pccs-lt24-hsl: hsl(331deg 62% 66%);

/* Soft Tone */
$pccs-sf1: #bd576f;
$pccs-sf1-rgb: 189, 87, 111;
$pccs-sf1-hsl: hsl(341deg 49% 54%);
$pccs-sf2: #c95f6b;
$pccs-sf2-rgb: 201, 95, 107;
$pccs-sf2-hsl: hsl(352deg 51% 58%);
$pccs-sf3: #cf5e5a;
$pccs-sf3-rgb: 207, 94, 90;
$pccs-sf3-hsl: hsl(2deg 53% 58%);
$pccs-sf4: #d77957;
$pccs-sf4-rgb: 215, 121, 87;
$pccs-sf4-hsl: hsl(18deg 62% 59%);
$pccs-sf5: #d6763a;
$pccs-sf5-rgb: 214, 118, 58;
$pccs-sf5-hsl: hsl(26deg 62% 53%);
$pccs-sf6: #d89048;
$pccs-sf6-rgb: 216, 144, 72;
$pccs-sf6-hsl: hsl(29deg 61% 56%);
$pccs-sf7: #d29f34;
$pccs-sf7-rgb: 210, 159, 52;
$pccs-sf7-hsl: hsl(40deg 64% 51%);
$pccs-sf8: #ccba4c;
$pccs-sf8-rgb: 204, 186, 76;
$pccs-sf8-hsl: hsl(49deg 58% 55%);
$pccs-sf9: #c0b647;
$pccs-sf9-rgb: 192, 182, 71;
$pccs-sf9-hsl: hsl(54deg 50% 52%);
$pccs-sf10: #b3b140;
$pccs-sf10-rgb: 179, 177, 64;
$pccs-sf10-hsl: hsl(59deg 48% 48%);
$pccs-sf11: #79b055;
$pccs-sf11-rgb: 121, 176, 85;
$pccs-sf11-hsl: hsl(95deg 42% 58%);
$pccs-sf12: #66ac78;
$pccs-sf12-rgb: 102, 172, 120;
$pccs-sf12-hsl: hsl(146deg 38% 54%);
$pccs-sf13: #5ba37e;
$pccs-sf13-rgb: 91, 163, 126;
$pccs-sf13-hsl: hsl(155deg 38% 50%);
$pccs-sf14: #4e9b87;
$pccs-sf14-rgb: 78, 155, 135;
$pccs-sf14-hsl: hsl(169deg 34% 46%);
$pccs-sf15: #4e9995;
$pccs-sf15-rgb: 78, 153, 149;
$pccs-sf15-hsl: hsl(176deg 32% 45%);
$pccs-sf16: #4f8b96;
$pccs-sf16-rgb: 79, 139, 150;
$pccs-sf16-hsl: hsl(189deg 31% 45%);
$pccs-sf17: #4e7592;
$pccs-sf17-rgb: 78, 117, 146;
$pccs-sf17-hsl: hsl(209deg 31% 44%);
$pccs-sf18: #516691;
$pccs-sf18-rgb: 81, 102, 145;
$pccs-sf18-hsl: hsl(223deg 29% 44%);
$pccs-sf19: #535a90;
$pccs-sf19-rgb: 83, 90, 144;
$pccs-sf19-hsl: hsl(233deg 29% 45%);
$pccs-sf20: #5c5791;
$pccs-sf20-rgb: 92, 87, 145;
$pccs-sf20-hsl: hsl(246deg 26% 65%);
$pccs-sf21: #77568f;
$pccs-sf21-rgb: 119, 86, 143;
$pccs-sf21-hsl: hsl(270deg 26% 45%);
$pccs-sf22: #8b5587;
$pccs-sf22-rgb: 139, 85, 135;
$pccs-sf22-hsl: hsl(305deg 26% 44%);
$pccs-sf23: #9e5485;
$pccs-sf23-rgb: 158, 84, 133;
$pccs-sf23-hsl: hsl(316deg 30% 47%);
$pccs-sf24: #b05076;
$pccs-sf24-rgb: 176, 80, 118;
$pccs-sf24-hsl: hsl(334deg 38% 50%);

/* Dull Tone */
$pccs-d1: #8c355f;
$pccs-d1-rgb: 140, 53, 95;
$pccs-d1-hsl: hsl(329deg 45% 38%);
$pccs-d2: #994052;
$pccs-d2-rgb: 153, 64, 82;
$pccs-d2-hsl: hsl(346deg 40% 42%);
$pccs-d3: #a6424c;
$pccs-d3-rgb: 166, 66, 76;
$pccs-d3-hsl: hsl(353deg 43% 45%);
$pccs-d4: #b24443;
$pccs-d4-rgb: 178, 68, 67;
$pccs-d4-hsl: hsl(1deg 47% 48%);
$pccs-d5: #b34d3e;
$pccs-d5-rgb: 179, 77, 62;
$pccs-d5-hsl: hsl(8deg 49% 47%);
$pccs-d6: #b25939;
$pccs-d6-rgb: 178, 89, 57;
$pccs-d6-hsl: hsl(21deg 50% 46%);
$pccs-d7: #a66e3d;
$pccs-d7-rgb: 166, 110, 61;
$pccs-d7-hsl: hsl(33deg 46% 45%);
$pccs-d8: #997f42;
$pccs-d8-rgb: 153, 127, 66;
$pccs-d8-hsl: hsl(42deg 43% 43%);
$pccs-d9: #8c8946;
$pccs-d9-rgb: 140, 137, 70;
$pccs-d9-hsl: hsl(57deg 34% 41%);
$pccs-d10: #757e47;
$pccs-d10-rgb: 117, 126, 71;
$pccs-d10-hsl: hsl(72deg 30% 39%);
$pccs-d11: #678049;
$pccs-d11-rgb: 103, 128, 73;
$pccs-d11-hsl: hsl(90deg 27% 39%);
$pccs-d12: #5a814c;
$pccs-d12-rgb: 90, 129, 76;
$pccs-d12-hsl: hsl(103deg 28% 43%);
$pccs-d13: #39764d;
$pccs-d13-rgb: 57, 118, 77;
$pccs-d13-hsl: hsl(145deg 34% 34%);
$pccs-d14: #2a6a69;
$pccs-d14-rgb: 42, 106, 105;
$pccs-d14-hsl: hsl(179deg 43% 29%);
$pccs-d15: #256b75;
$pccs-d15-rgb: 37, 107, 117;
$pccs-d15-hsl: hsl(189deg 51% 30%);
$pccs-d16: #1d6283;
$pccs-d16-rgb: 29, 98, 131;
$pccs-d16-hsl: hsl(204deg 63% 31%);
$pccs-d17: #204f79;
$pccs-d17-rgb: 32, 79, 121;
$pccs-d17-hsl: hsl(210deg 58% 30%);
$pccs-d18: #214275;
$pccs-d18-rgb: 33, 66, 117;
$pccs-d18-hsl: hsl(219deg 56% 29%);
$pccs-d19: #2e3a76;
$pccs-d19-rgb: 46, 58, 118;
$pccs-d19-hsl: hsl(231deg 44% 32%);
$pccs-d20: #39367b;
$pccs-d20-rgb: 57, 54, 123;
$pccs-d20-hsl: hsl(243deg 39% 35%);
$pccs-d21: #493278;
$pccs-d21-rgb: 73, 50, 120;
$pccs-d21-hsl: hsl(261deg 41% 33%);
$pccs-d22: #5f3179;
$pccs-d22-rgb: 95, 49, 121;
$pccs-d22-hsl: hsl(282deg 43% 33%);
$pccs-d23: #772d7a;
$pccs-d23-rgb: 119, 45, 122;
$pccs-d23-hsl: hsl(298deg 46% 33%);
$pccs-d24: #802a69;
$pccs-d24-rgb: 128, 42, 105;
$pccs-d24-hsl: hsl(319deg 50% 33%);

/* Dark Tone */
$pccs-dk1: #632534;
$pccs-dk1-rgb: 99, 37, 52;
$pccs-dk1-hsl: hsl(346deg 45% 27%);
$pccs-dk2: #632a31;
$pccs-dk2-rgb: 99, 42, 49;
$pccs-dk2-hsl: hsl(354deg 39% 27%);
$pccs-dk3: #6b2b29;
$pccs-dk3-rgb: 107, 43, 41;
$pccs-dk3-hsl: hsl(3deg 43% 29%);
$pccs-dk4: #743526;
$pccs-dk4-rgb: 116, 53, 38;
$pccs-dk4-hsl: hsl(15deg 50% 30%);
$pccs-dk5: #6e3d1f;
$pccs-dk5-rgb: 110, 61, 31;
$pccs-dk5-hsl: hsl(27deg 57% 28%);
$pccs-dk6: #6b4919;
$pccs-dk6-rgb: 107, 73, 25;
$pccs-dk6-hsl: hsl(37deg 65% 26%);
$pccs-dk7: #695018;
$pccs-dk7-rgb: 105, 80, 24;
$pccs-dk7-hsl: hsl(43deg 62% 25%);
$pccs-dk8: #6a5b18;
$pccs-dk8-rgb: 106, 91, 24;
$pccs-dk8-hsl: hsl(51deg 64% 25%);
$pccs-dk9: #6e6e26;
$pccs-dk9-rgb: 110, 110, 38;
$pccs-dk9-hsl: hsl(60deg 48% 29%);
$pccs-dk10: #56561a;
$pccs-dk10-rgb: 86, 86, 26;
$pccs-dk10-hsl: hsl(60deg 54% 22%);
$pccs-dk11: #506b3e;
$pccs-dk11-rgb: 80, 107, 62;
$pccs-dk11-hsl: hsl(95deg 28% 33%);
$pccs-dk12: #355935;
$pccs-dk12-rgb: 53, 89, 53;
$pccs-dk12-hsl: hsl(120deg 25% 28%);
$pccs-dk13: #28523a;
$pccs-dk13-rgb: 40, 82, 58;
$pccs-dk13-hsl: hsl(150deg 34% 24%);
$pccs-dk14: #1e4b44;
$pccs-dk14-rgb: 30, 75, 68;
$pccs-dk14-hsl: hsl(172deg 43% 20%);
$pccs-dk15: #154d4e;
$pccs-dk15-rgb: 21, 77, 78;
$pccs-dk15-hsl: hsl(182deg 56% 19%);
$pccs-dk16: #0e4250;
$pccs-dk16-rgb: 14, 66, 80;
$pccs-dk16-hsl: hsl(195deg 71% 18%);
$pccs-dk17: #123b4f;
$pccs-dk17-rgb: 18, 59, 79;
$pccs-dk17-hsl: hsl(205deg 63% 19%);
$pccs-dk18: #163450;
$pccs-dk18-rgb: 22, 52, 80;
$pccs-dk18-hsl: hsl(213deg 56% 20%);
$pccs-dk19: #222a4e;
$pccs-dk19-rgb: 34, 42, 78;
$pccs-dk19-hsl: hsl(230deg 39% 22%);
$pccs-dk20: #312c4c;
$pccs-dk20-rgb: 49, 44, 76;
$pccs-dk20-hsl: hsl(249deg 29% 24%);
$pccs-dk21: #3e2e49;
$pccs-dk21-rgb: 62, 46, 73;
$pccs-dk21-hsl: hsl(270deg 24% 23%);
$pccs-dk22: #4a304b;
$pccs-dk22-rgb: 74, 48, 75;
$pccs-dk22-hsl: hsl(303deg 22% 24%);
$pccs-dk23: #57304b;
$pccs-dk23-rgb: 87, 48, 75;
$pccs-dk23-hsl: hsl(324deg 29% 26%);
$pccs-dk24: #643142;
$pccs-dk24-rgb: 100, 49, 66;
$pccs-dk24-hsl: hsl(336deg 34% 29%);

/* Pale Tone */
$pccs-p1: #eeafce;
$pccs-p1-rgb: 238, 175, 206;
$pccs-p1-hsl: hsl(329deg 61% 81%);
$pccs-p2: #fbb4c4;
$pccs-p2-rgb: 251, 180, 196;
$pccs-p2-hsl: hsl(342deg 82% 85%);
$pccs-p3: #fab6b5;
$pccs-p3-rgb: 250, 182, 181;
$pccs-p3-hsl: hsl(1deg 81% 85%);
$pccs-p4: #fdcdb7;
$pccs-p4-rgb: 253, 205, 183;
$pccs-p4-hsl: hsl(19deg 88% 85%);
$pccs-p5: #fbd8b0;
$pccs-p5-rgb: 251, 216, 176;
$pccs-p5-hsl: hsl(35deg 87% 84%);
$pccs-p6: #fee6aa;
$pccs-p6-rgb: 254, 230, 170;
$pccs-p6-hsl: hsl(42deg 95% 83%);
$pccs-p7: #fcf1af;
$pccs-p7-rgb: 252, 241, 175;
$pccs-p7-hsl: hsl(52deg 92% 84%);
$pccs-p8: #feffb3;
$pccs-p8-rgb: 254, 255, 179;
$pccs-p8-hsl: hsl(61deg 100% 85%);
$pccs-p9: #eefab2;
$pccs-p9-rgb: 238, 250, 178;
$pccs-p9-hsl: hsl(71deg 87% 84%);
$pccs-p10: #e6f5b0;
$pccs-p10-rgb: 230, 245, 176;
$pccs-p10-hsl: hsl(78deg 71% 83%);
$pccs-p11: #d9f6c0;
$pccs-p11-rgb: 217, 246, 192;
$pccs-p11-hsl: hsl(97deg 72% 86%);
$pccs-p12: #cceac4;
$pccs-p12-rgb: 204, 234, 196;
$pccs-p12-hsl: hsl(109deg 57% 84%);
$pccs-p13: #c0ebcd;
$pccs-p13-rgb: 192, 235, 205;
$pccs-p13-hsl: hsl(150deg 56% 84%);
$pccs-p14: #b3e2d8;
$pccs-p14-rgb: 179, 226, 216;
$pccs-p14-hsl: hsl(170deg 48% 80%);
$pccs-p15: #b4dddf;
$pccs-p15-rgb: 180, 221, 223;
$pccs-p15-hsl: hsl(183deg 38% 79%);
$pccs-p16: #b4d7dd;
$pccs-p16-rgb: 180, 215, 221;
$pccs-p16-hsl: hsl(193deg 30% 79%);
$pccs-p17: #b5d2e0;
$pccs-p17-rgb: 181, 210, 224;
$pccs-p17-hsl: hsl(207deg 34% 80%);
$pccs-p18: #b3cee3;
$pccs-p18-rgb: 179, 206, 227;
$pccs-p18-hsl: hsl(212deg 39% 80%);
$pccs-p19: #b4c2dd;
$pccs-p19-rgb: 180, 194, 221;
$pccs-p19-hsl: hsl(226deg 38% 79%);
$pccs-p20: #b2b6d9;
$pccs-p20-rgb: 178, 182, 217;
$pccs-p20-hsl: hsl(235deg 39% 77%);
$pccs-p21: #bcb2d5;
$pccs-p21-rgb: 188, 178, 213;
$pccs-p21-hsl: hsl(260deg 29% 77%);
$pccs-p22: #cab2d6;
$pccs-p22-rgb: 202, 178, 214;
$pccs-p22-hsl: hsl(279deg 31% 77%);
$pccs-p23: #daafdc;
$pccs-p23-rgb: 218, 175, 220;
$pccs-p23-hsl: hsl(297deg 34% 77%);
$pccs-p24: #e4add5;
$pccs-p24-rgb: 228, 173, 213;
$pccs-p24-hsl: hsl(316deg 40% 75%);

/* Light Grayish Tone */
$pccs-ltg1: #c99fb3;
$pccs-ltg1-rgb: 201, 159, 179;
$pccs-ltg1-hsl: hsl(329deg 24% 71%);
$pccs-ltg2: #d7a4b5;
$pccs-ltg2-rgb: 215, 164, 181;
$pccs-ltg2-hsl: hsl(336deg 29% 74%);
$pccs-ltg3: #d6a9a4;
$pccs-ltg3-rgb: 214, 169, 164;
$pccs-ltg3-hsl: hsl(7deg 26% 74%);
$pccs-ltg4: #d7afa7;
$pccs-ltg4-rgb: 215, 175, 167;
$pccs-ltg4-hsl: hsl(16deg 29% 75%);
$pccs-ltg5: #d9b59f;
$pccs-ltg5-rgb: 217, 181, 159;
$pccs-ltg5-hsl: hsl(30deg 31% 74%);
$pccs-ltg6: #d8ba96;
$pccs-ltg6-rgb: 216, 186, 150;
$pccs-ltg6-hsl: hsl(39deg 36% 72%);
$pccs-ltg7: #d9c098;
$pccs-ltg7-rgb: 217, 192, 152;
$pccs-ltg7-hsl: hsl(42deg 38% 72%);
$pccs-ltg8: #d9c69b;
$pccs-ltg8-rgb: 217, 198, 155;
$pccs-ltg8-hsl: hsl(47deg 39% 73%);
$pccs-ltg9: #c5cb9b;
$pccs-ltg9-rgb: 197, 203, 155;
$pccs-ltg9-hsl: hsl(70deg 31% 70%);
$pccs-ltg10: #aac09a;
$pccs-ltg10-rgb: 170, 192, 154;
$pccs-ltg10-hsl: hsl(83deg 28% 68%);
$pccs-ltg11: #a0bd9e;
$pccs-ltg11-rgb: 160, 189, 158;
$pccs-ltg11-hsl: hsl(109deg 23% 68%);
$pccs-ltg12: #9ebca4;
$pccs-ltg12-rgb: 158, 188, 164;
$pccs-ltg12-hsl: hsl(140deg 20% 68%);
$pccs-ltg13: #99baa7;
$pccs-ltg13-rgb: 153, 186, 167;
$pccs-ltg13-hsl: hsl(155deg 21% 66%);
$pccs-ltg14: #92b8ad;
$pccs-ltg14-rgb: 146, 184, 173;
$pccs-ltg14-hsl: hsl(165deg 24% 65%);
$pccs-ltg15: #91b8b7;
$pccs-ltg15-rgb: 145, 184, 183;
$pccs-ltg15-hsl: hsl(179deg 22% 64%);
$pccs-ltg16: #91afba;
$pccs-ltg16-rgb: 145, 175, 186;
$pccs-ltg16-hsl: hsl(198deg 24% 65%);
$pccs-ltg17: #92a9b9;
$pccs-ltg17-rgb: 146, 169, 185;
$pccs-ltg17-hsl: hsl(209deg 23% 65%);
$pccs-ltg18: #91a4b5;
$pccs-ltg18-rgb: 145, 164, 181;
$pccs-ltg18-hsl: hsl(215deg 22% 64%);
$pccs-ltg19: #9199b0;
$pccs-ltg19-rgb: 145, 153, 176;
$pccs-ltg19-hsl: hsl(229deg 22% 63%);
$pccs-ltg20: #9191ad;
$pccs-ltg20-rgb: 145, 145, 173;
$pccs-ltg20-hsl: hsl(240deg 20% 62%);
$pccs-ltg21: #9c93ae;
$pccs-ltg21-rgb: 156, 147, 174;
$pccs-ltg21-hsl: hsl(271deg 19% 63%);
$pccs-ltg22: #a997b1;
$pccs-ltg22-rgb: 169, 151, 177;
$pccs-ltg22-hsl: hsl(287deg 19% 64%);
$pccs-ltg23: #b89ab6;
$pccs-ltg23-rgb: 184, 154, 182;
$pccs-ltg23-hsl: hsl(305deg 20% 66%);
$pccs-ltg24: #c09fb4;
$pccs-ltg24-rgb: 192, 159, 180;
$pccs-ltg24-hsl: hsl(327deg 22% 69%);

/* Grayish Tone */
$pccs-g1: #6b455a;
$pccs-g1-rgb: 107, 69, 90;
$pccs-g1-hsl: hsl(332deg 22% 35%);
$pccs-g2: #7d4f5a;
$pccs-g2-rgb: 125, 79, 90;
$pccs-g2-hsl: hsl(346deg 22% 40%);
$pccs-g3: #7c575e;
$pccs-g3-rgb: 124, 87, 94;
$pccs-g3-hsl: hsl(345deg 17% 41%);
$pccs-g4: #7d5f61;
$pccs-g4-rgb: 125, 95, 97;
$pccs-g4-hsl: hsl(353deg 12% 43%);
$pccs-g5: #7e6261;
$pccs-g5-rgb: 126, 98, 97;
$pccs-g5-hsl: hsl(3deg 12% 44%);
$pccs-g6: #7c6764;
$pccs-g6-rgb: 124, 103, 100;
$pccs-g6-hsl: hsl(12deg 11% 44%);
$pccs-g7: #7c6a5e;
$pccs-g7-rgb: 124, 106, 94;
$pccs-g7-hsl: hsl(27deg 16% 43%);
$pccs-g8: #7e6f5a;
$pccs-g8-rgb: 126, 111, 90;
$pccs-g8-hsl: hsl(36deg 18% 42%);
$pccs-g9: #72755a;
$pccs-g9-rgb: 114, 117, 90;
$pccs-g9-hsl: hsl(66deg 13% 41%);
$pccs-g10: #636f5b;
$pccs-g10-rgb: 99, 111, 91;
$pccs-g10-hsl: hsl(86deg 11% 40%);
$pccs-g11: #586e57;
$pccs-g11-rgb: 88, 110, 87;
$pccs-g11-hsl: hsl(113deg 13% 39%);
$pccs-g12: #476c5b;
$pccs-g12-rgb: 71, 108, 91;
$pccs-g12-hsl: hsl(156deg 21% 35%);
$pccs-g13: #416863;
$pccs-g13-rgb: 65, 104, 99;
$pccs-g13-hsl: hsl(172deg 23% 33%);
$pccs-g14: #395b64;
$pccs-g14-rgb: 57, 91, 100;
$pccs-g14-hsl: hsl(195deg 29% 31%);
$pccs-g15: #38555d;
$pccs-g15-rgb: 56, 85, 93;
$pccs-g15-hsl: hsl(205deg 26% 34%);
$pccs-g16: #384e5c;
$pccs-g16-rgb: 56, 78, 92;
$pccs-g16-hsl: hsl(216deg 24% 31%);
$pccs-g17: #38475a;
$pccs-g17-rgb: 56, 71, 90;
$pccs-g17-hsl: hsl(223deg 23% 29%);
$pccs-g18: #394158;
$pccs-g18-rgb: 57, 65, 88;
$pccs-g18-hsl: hsl(225deg 21% 28%);
$pccs-g19: #353654;
$pccs-g19-rgb: 53, 54, 84;
$pccs-g19-hsl: hsl(238deg 23% 27%);
$pccs-g20: #3f3051;
$pccs-g20-rgb: 63, 48, 81;
$pccs-g20-hsl: hsl(261deg 28% 25%);
$pccs-g21: #463353;
$pccs-g21-rgb: 70, 51, 83;
$pccs-g21-hsl: hsl(278deg 24% 26%);
$pccs-g22: #4a3753;
$pccs-g22-rgb: 74, 55, 83;
$pccs-g22-hsl: hsl(286deg 20% 27%);
$pccs-g23: #553857;
$pccs-g23-rgb: 85, 56, 87;
$pccs-g23-hsl: hsl(324deg 21% 28%);
$pccs-g24: #5b3a55;
$pccs-g24-rgb: 91, 58, 85;
$pccs-g24-hsl: hsl(316deg 22% 29%);

/* Dark Grayish Tone */
$pccs-dkg1: #3c2d30;
$pccs-dkg1-rgb: 60, 45, 48;
$pccs-dkg1-hsl: hsl(345deg 14% 21%);
$pccs-dkg2: #3a2b2e;
$pccs-dkg2-rgb: 58, 43, 46;
$pccs-dkg2-hsl: hsl(340deg 14% 20%);
$pccs-dkg3: #3b2b2c;
$pccs-dkg3-rgb: 59, 43, 44;
$pccs-dkg3-hsl: hsl(345deg 14% 20%);
$pccs-dkg4: #3a2c2b;
$pccs-dkg4-rgb: 58, 44, 43;
$pccs-dkg4-hsl: hsl(5deg 14% 20%);
$pccs-dkg5: #40322f;
$pccs-dkg5-rgb: 64, 50, 47;
$pccs-dkg5-hsl: hsl(12deg 16% 22%);
$pccs-dkg6: #463b35;
$pccs-dkg6-rgb: 70, 59, 53;
$pccs-dkg6-hsl: hsl(23deg 17% 24%);
$pccs-dkg7: #453b31;
$pccs-dkg7-rgb: 69, 59, 49;
$pccs-dkg7-hsl: hsl(33deg 19% 23%);
$pccs-dkg8: #47402c;
$pccs-dkg8-rgb: 71, 64, 44;
$pccs-dkg8-hsl: hsl(49deg 24% 23%);
$pccs-dkg9: #42412f;
$pccs-dkg9-rgb: 66, 65, 47;
$pccs-dkg9-hsl: hsl(57deg 18% 22%);
$pccs-dkg10: #3e3f31;
$pccs-dkg10-rgb: 62, 63, 49;
$pccs-dkg10-hsl: hsl(66deg 15% 22%);
$pccs-dkg11: #2c382a;
$pccs-dkg11-rgb: 44, 56, 42;
$pccs-dkg11-hsl: hsl(110deg 16% 19%);
$pccs-dkg12: #24332c;
$pccs-dkg12-rgb: 36, 51, 44;
$pccs-dkg12-hsl: hsl(150deg 19% 17%);
$pccs-dkg13: #23342e;
$pccs-dkg13-rgb: 35, 52, 46;
$pccs-dkg13-hsl: hsl(160deg 21% 17%);
$pccs-dkg14: #1e4b44;
$pccs-dkg14-rgb: 30, 75, 68;
$pccs-dkg14-hsl: hsl(172deg 43% 20%);
$pccs-dkg15: #154d4e;
$pccs-dkg15-rgb: 21, 77, 78;
$pccs-dkg15-hsl: hsl(182deg 56% 19%);
$pccs-dkg16: #0e4250;
$pccs-dkg16-rgb: 14, 66, 80;
$pccs-dkg16-hsl: hsl(195deg 71% 18%);
$pccs-dkg17: #123b4f;
$pccs-dkg17-rgb: 18, 59, 79;
$pccs-dkg17-hsl: hsl(205deg 63% 19%);
$pccs-dkg18: #163450;
$pccs-dkg18-rgb: 22, 52, 80;
$pccs-dkg18-hsl: hsl(213deg 56% 20%);
$pccs-dkg19: #222a4e;
$pccs-dkg19-rgb: 34, 42, 78;
$pccs-dkg19-hsl: hsl(230deg 39% 22%);
$pccs-dkg20: #282530;
$pccs-dkg20-rgb: 40, 37, 48;
$pccs-dkg20-hsl: hsl(257deg 13% 17%);
$pccs-dkg21: #2a2730;
$pccs-dkg21-rgb: 42, 39, 48;
$pccs-dkg21-hsl: hsl(260deg 10% 17%);
$pccs-dkg22: #2d2a31;
$pccs-dkg22-rgb: 45, 42, 49;
$pccs-dkg22-hsl: hsl(265deg 9% 18%);
$pccs-dkg23: #362c34;
$pccs-dkg23-rgb: 54, 44, 52;
$pccs-dkg23-hsl: hsl(324deg 11% 19%);
$pccs-dkg24: #392d31;
$pccs-dkg24-rgb: 57, 45, 49;
$pccs-dkg24-hsl: hsl(336deg 12% 20%);
