@use "pccs-colors" as *;

/* --- 色の意味 --- */
$semantic-danger: $pccs-s1;
$semantic-success: $pccs-s12;
$semantic-warning: $pccs-s8;
$semantic-primary: $pccs-s16;
$semantic-secondary: $pccs-gy6_5;
$semantic-info: $pccs-s18;

$semantic-disabled: $pccs-gy7_5;

/* --- フォーカス状態の色 --- */
$semantic-focus-outline-color: $semantic-primary;

/* --- セマンティックカラー上のテキスト、アイコンの色 --- */

$semantic-text-on-danger: $pccs-w;
$semantic-text-on-success: $pccs-w;
$semantic-text-on-warning: $pccs-w;
$semantic-text-on-primary: $pccs-w;
$semantic-text-on-secondary: $pccs-w;
$semantic-text-on-info: $pccs-w;
$semantic-text-on-disabled: $pccs-w;

/* ---- 文字色 ---- */
/* 無彩色 */
$font-black: $pccs-bk;
$font-deepgray: $pccs-gy3_5;
$font-gray: $pccs-gy5_5;
$font-lightgray: $pccs-gy7_5;
$font-white: $pccs-w;

/* 有彩色 */
/* エラー表示など */
$font-error: $pccs-sf2;

/* Scrollareaコンポーネントのスクロールバーの色 */
$scrollbar-thumb: $pccs-b20;
/* スクロールバーのつまみ部分の色 */
$scrollbar-track: $pccs-gy8_5;
/* スクロールバーのトラック部分の色 */

/* --- 変数としての定義 (基本はライトモード) --- */
:root {
  --semantic-danger: #{$semantic-danger};
  --semantic-success: #{$semantic-success};
  --semantic-warning: #{$semantic-warning};
  --semantic-primary: #{$semantic-primary};
  --semantic-secondary: #{$semantic-secondary};
  --semantic-info: #{$semantic-info};
  --semantic-disabled: #{$semantic-disabled};

  --semantic-text-on-primary: #{$semantic-text-on-primary};

  --font-black: #{$font-black};
  --font-white: #{$font-white};
  --font-error: #{$font-error};

  --bg-app: #{$pccs-w}; // アプリ全体の背景
  --bg-component: #{$pccs-w};
}
