@use "pccs-colors" as *;

/* --- 色の意味 --- */
$color-destructive: $pccs-s1;
$color-positive: $pccs-s12;
$color-caution: $pccs-s8;
$color-primary: $pccs-s16;
$color-secondary: $pccs-gy6-5;
$color-informative: $pccs-s18;

$color-disabled: $pccs-gy7-5;

/* --- フォーカス状態の色 --- */
$color-focus-outline: $color-primary;

/* --- セマンティックカラー上のテキスト、アイコンの色 --- */
$color-text-on-destructive: $pccs-w;
$color-text-on-positive: $pccs-w;
$color-text-on-caution: $pccs-w;
$color-text-on-primary: $pccs-w;
$color-text-on-secondary: $pccs-w;
$color-text-on-informative: $pccs-w;
$color-text-on-disabled: $pccs-w;

/* ---- 文字色 ---- */
/* 無彩色 */
$text-black: $pccs-bk;
$text-deepgray: $pccs-gy3-5;
$text-gray: $pccs-gy5-5;
$text-lightgray: $pccs-gy7-5;
$text-white: $pccs-w;

/* 有彩色 */
/* エラー表示など */
$text-error: $pccs-sf2;

/* Scrollareaコンポーネントのスクロールバーの色 */
$scrollbar-thumb: $pccs-b20;
/* スクロールバーのつまみ部分の色 */
$scrollbar-track: $pccs-gy8-5;

/* --- 変数としての定義 (基本はライトモード) --- */
:root {
  --color-destructive: #{$color-destructive};
  --color-positive: #{$color-positive};
  --color-caution: #{$color-caution};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-informative: #{$color-informative};
  --color-disabled: #{$color-disabled};

  --color-text-on-primary: #{$color-text-on-primary};
  --color-text-on-destructive: #{$color-text-on-destructive};
  --color-text-on-positive: #{$color-text-on-positive};
  --color-text-on-caution: #{$color-text-on-caution};
  --color-text-on-secondary: #{$color-text-on-secondary};
  --color-text-on-informative: #{$color-text-on-informative};
  --color-text-on-disabled: #{$color-text-on-disabled};

  --text-primary: #{$text-black};
  --text-secondary: #{$text-deepgray};
  --text-tertiary: #{$text-gray};
  --text-disabled: #{$text-lightgray};
  --text-white: #{$text-white};
  --text-error: #{$text-error};

  --bg-app: #{$pccs-w}; // アプリ全体の背景
  --bg-component: #{$pccs-w};

  --scrollbar-thumb: #{$scrollbar-thumb};
  --scrollbar-track: #{$scrollbar-track};
}