@layer component {
  .root {
    display: inline-block;
    padding: var(--wim-spacing-md, 0.5rem);
    line-height: 0;
    background: var(--wim-color-bg-white);
    border: var(--wim-border-width-thin) solid var(--wim-color-border-secondary);
    border-radius: var(--wim-radius-md, 4px);
  
    svg,
    canvas {
      display: block;
    }
  }
}
