@use '../../src/tokens/semantic-colors' as colors;
@use '../../src/tokens/semantic-texts' as texts;
@use '../../src/tokens/measure-scales' as scales;
@use '../../src/lang' as lang;

@layer component {
  .wim-paragraph {
    color: inherit;
    font: inherit;

    &--xl {
      font-size: texts.$size-ex-large;
    }

    &--lg {
      font-size: texts.$size-large;
    }

    &--md {
      font-size: texts.$size-medium;
    }

    &--sm {
      font-size: texts.$size-small;
    }

    &--xs {
      font-size: texts.$size-ex-small;
    }

    &--loose-jpan {
      line-height: texts.$line-height-loose-jpan;
    }

    &--normal-jpan {
      line-height: texts.$line-height-normal-jpan;
    }

    &--tight-jpan {
      line-height: texts.$line-height-tight-jpan;
    }

    &--loose-latn {
      line-height: texts.$line-height-loose-latn;
    }

    &--normal-latn {
      line-height: texts.$line-height-normal-latn;
    }

    &--tight-latn {
      line-height: texts.$line-height-tight-latn;
    }

    &--bold {
      font-weight: texts.$weight-bold;
    }

    &--italic {
      font-style: texts.$style-italic;
    }

    &--black {
      color: var(--font-black);
    }

    &--white {
      color: var(--font-white);
    }

    &--error {
      color: var(--font-error);
    }
  }
}