@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/typography" as typography;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/effects" as effects;

@layer component {
    .wim-stepper {
        box-sizing: border-box;
        display: flex;
        width: 100%;

        &--horizontal {
            flex-direction: row;
            align-items: flex-start;
        }

        &--vertical {
            flex-direction: column;
        }

        /* Step Item */
        &__item {
            position: relative;
            display: flex;
            flex: 1;
            overflow: hidden;
            vertical-align: top;

            &:last-child {
                flex: none;

                .wim-stepper__line {
                    display: none;
                }
            }
        }

        &--horizontal &__item {
            padding-right: spacings.$spacing-md;

            &--label-vertical {
                flex-direction: column;
                align-items: center;
                padding-right: 0;
                text-align: center;

                .wim-stepper__line {
                    left: 50%;
                    width: 100%;
                }
            }
        }

        &--vertical &__item {
            flex-direction: column;
            padding-bottom: spacings.$spacing-lg;

            .wim-stepper__line {
                position: absolute;
                top: calc(#{spacings.$spacing-3xl} + #{spacings.$spacing-xs});
                left: calc(#{spacings.$spacing-3xl} / 2);
                width: 2px;
                height: calc(100% - #{spacings.$spacing-3xl} - #{spacings.$spacing-xs});
                background-color: var(--wim-color-border-secondary);
            }

            .wim-stepper__content {
                margin-top: spacings.$spacing-xs;
                margin-left: spacings.$spacing-3xl;
            }
        }

        /* Icon Container */
        &__icon-container {
            z-index: 1;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: spacings.$spacing-3xl;
            height: spacings.$spacing-3xl;
            margin-top: spacings.$spacing-xs;
            font-size: typography.$size-small;
            font-weight: typography.$weight-bold;
            color: var(--text-secondary);
            background-color: transparent;
            border: 2px solid var(--wim-color-border-secondary);
            border-radius: 50%;
            transition: all effects.$transition-base;
        }

        &__item--process &__icon-container {
            color: var(--color-text-on-primary);
            background-color: var(--color-primary);
            border-color: var(--color-primary);
            box-shadow: 0 0 0 4px rgba(var(--color-primary-rgb, 0, 107, 255), 0.1);
        }

        &__item--finish &__icon-container {
            color: var(--color-primary);
            background-color: transparent;
            border-color: var(--color-primary);
        }

        &__item--error &__icon-container {
            color: var(--color-destructive);
            background-color: transparent;
            border-color: var(--color-destructive);
        }

        /* Line / Tail */
        &__line {
            position: absolute;
            top: calc(#{spacings.$spacing-3xl} / 2 + #{spacings.$spacing-xs});
            left: spacings.$spacing-3xl;
            width: 999px;
            height: 2px;
            background-color: var(--wim-color-border-secondary);
            transition: background-color effects.$transition-base;
        }

        &__item--finish &__line {
            background-color: var(--color-primary);
        }

        /* Content */
        &__content {
            flex-shrink: 0;
            margin-left: spacings.$spacing-sm;
        }

        &__item--label-vertical &__content {
            width: 100%;
            margin-top: spacings.$spacing-xs;
            margin-left: 0;
        }

        &__title {
            display: block;
            font-size: typography.$size-medium;
            font-weight: typography.$weight-medium;
            color: var(--text-primary);
            transition: color effects.$transition-base;
        }

        &__item--wait &__title {
            color: var(--text-secondary);
        }

        &__description {
            display: block;
            margin-top: spacings.$spacing-xl;
            font-size: typography.$size-small;
            color: var(--text-secondary);
        }
    }
}