@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/effects" as effects;

.wim-otp-input-container {
    display: flex;
    gap: spacings.$spacing-sm;
    align-items: center;

    &--disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}

.wim-otp-input {
    all: unset;
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.25rem;
    border-radius: spacings.$radius-md;
    background-color: var(--bg-component, #fff);
    color: var(--text-primary);
    border: 1px solid colors.$color-secondary;
    transition: effects.$transition-base;

    &:focus {
        border-color: colors.$color-primary;
        box-shadow: 0 0 0 2px rgba(colors.$color-primary, 0.2);
    }

    &--error {
        border-color: var(--text-error) !important;

        &:focus {
            box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2) !important;
        }
    }

    &--disabled {
        background-color: var(--color-disabled);
        color: var(--text-disabled);
        cursor: not-allowed;
    }
}