@layer component {
  .root {
    display: flex;
    flex-direction: column;
    gap: 12px; // TODO: tokenization
    min-width: 0;
    padding: var(--wim-spacing-2xl);
    margin: 0;
    border: 1px solid var(--wim-color-border);
    border-radius: var(--wim-radius-lg);

    &.fullWidth {
      width: 100%;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: var(--wim-opacity-disabled);
    }
  }
}
