@layer component {
  .root {
    display: flex;
    flex-direction: column;
    gap: var(--wim-spacing-xl);
    min-width: 0;
    padding: var(--wim-spacing-2xl);
    margin: 0;
    border: var(--wim-border-width-thin) solid var(--wim-color-border);
    border-radius: var(--wim-radius-container);

    &.fullWidth {
      width: 100%;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: var(--wim-opacity-disabled);
    }
  }
}
