.wim-segmented-control {
  position: relative;
  display: inline-grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 2px;
  overflow: hidden;
  user-select: none;
  background-color: rgb(0 0 0 / 0.05);
  border-radius: var(--radius-md);

  &.wim-segmented-control--full-width {
    display: grid;
    width: 100%;
  }

  .wim-segmented-control__slider {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 1;
    background-color: #fff;
    border-radius: calc(var(--radius-md) - 2px);
    box-shadow: var(--shadow-sm);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .wim-segmented-control__item {
    position: relative;
    z-index: 2;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: center;
    font: inherit;
    font-weight: var(--font-weight-medium);
    color: var(--text-secondary);
    min-width: 0;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--text-primary);
    }

    &.wim-segmented-control__item--active {
      color: var(--color-primary);
    }

    &.wim-segmented-control__item--icon-only {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .wim-icon {
    font-size: 0.7em; // Buttonコンポーネントと一貫性を持たせる
  }

  &.wim-segmented-control--sm {
    .wim-segmented-control__item {
      padding: var(--spacing-xs) var(--spacing-md);
      font-size: var(--font-size-small);

      &.wim-segmented-control__item--icon-only {
        width: 30px;
        padding: var(--spacing-xs) 0 !important;
      }
    }
  }

  &.wim-segmented-control--md {
    .wim-segmented-control__item {
      padding: var(--spacing-sm) var(--spacing-lg);
      font-size: var(--font-size-medium);

      &.wim-segmented-control__item--icon-only {
        width: 36px;
        padding: var(--spacing-sm) 0 !important;
      }
    }
  }

  &.wim-segmented-control--lg {
    .wim-segmented-control__item {
      padding: var(--spacing-md) var(--spacing-xl);
      font-size: var(--font-size-large);

      &.wim-segmented-control__item--icon-only {
        width: 44px;
        padding: var(--spacing-md) 0 !important;
      }
    }
  }

  .wim-segmented-control__label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: var(--line-height-normal-latn);
  }
}
