@use "./tokens/fonts" as *;
@use "./tokens/semantic-texts" as *;
@use "./tokens/semantic-colors" as color;

/* または、特定の lang 属性がない場合の共通フォントとして設定 */
body {
  font-family: $lang-default;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-wrap: pretty;
  word-spacing: 0;
  letter-spacing: 0;
  font-kerning: auto;
  text-spacing-trim: normal;
  font-feature-settings: normal;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: normal;
  font-optical-sizing: auto;
  line-height: $line-height-normal-latn; /* body全体の行間を調整し、読みやすくする */
}

/* 日本語のコンテンツに対するフォント指定 */
body[lang="ja"] {
  font-family: $lang-ja;
  line-height: $line-height-normal-jpan; /* body全体の行間を調整し、読みやすくする */
  font-feature-settings: "palt";
  line-break: auto;
  hyphens: manual;

  /* 日本語特有の調整 */
  /* 日本語の句読点のぶら下がり処理（禁則処理） */
  /* これにより、行末に句読点や括弧が単独で来るのを防ぎ、より自然な見た目にする */
  p,
  li,
  dd,
  dt {
    word-break: break-all; /* 単語の途中で改行を許可 */
    -webkit-line-break: strict; /* Safari/Chromeでの禁則処理 */
    line-break: strict; /* 標準の禁則処理 */
  }
}

/* 英語のコンテンツに対するフォント指定
  Noto Sansを最優先し、その後に一般的な英語OSフォントを続ける
  デフォルトとほぼ同じですが、明示的に指定することで意図を明確にできる */
body[lang="en"] {
  font-family: $lang-en;
  line-height: $line-height-normal-latn; /* body全体の行間を調整し、読みやすくする */
  hyphens: auto;
}

/* ポルトガル語のコンテンツに対するフォント指定
  英語と同様にNoto Sansが非常に適していますが、もしポルトガル語圏で
  特定のOSフォントを優先したい場合はここに追加 */
body[lang="pt"] {
  font-family: $lang-pt;
  line-height: $line-height-normal-latn; /* body全体の行間を調整し、読みやすくする */
  hyphens: auto;
}

/* サイズ */
.font-size-ex-large {
  font-size: $size-ex-large;
}

.font-size-large {
  font-size: $size-large;
}

.font-size-medium {
  font-size: $size-medium;
}

.font-size-small {
  font-size: $size-small;
}

.font-size-ex-small {
  font-size: $size-ex-small;
}

/* 色 */

.font-color-white {
  color: color.$font-white;
}

.font-color-deepgray {
  color: color.$font-deepgray;
}

.font-color-gray {
  color: color.$font-gray;
}
.font-color-lightgray {
  color: color.$font-lightgray;
}
.font-color-black {
  color: color.$font-black;
}

.font-color-error {
  color: color.$font-error;
  display: none;
}

/* 太さ */
.font-weight-normal {
  font-weight: $weight-normal;
}

.font-weight-bold {
  font-weight: $weight-bold;
}

/* スタイル */
.font-style-normal {
  font-style: $style-normal;
}

.font-style-italic {
  font-style: $style-italic;
}

/* 行間 */
.font-lines-loose-jpan {
  line-height: $line-height-loose-jpan;
}
.font-lines-normal-jpan {
  line-height: $line-height-normal-jpan;
}

.font-lines-tight-jpan {
  line-height: $line-height-tight-jpan;
}

.font-lines-loose-latn {
  line-height: $line-height-loose-latn;
}

.font-lines-normal-latn {
  line-height: $line-height-normal-latn;
}

.font-lines-tight-latn {
  line-height: $line-height-tight-latn;
}
