@use "./tokens/fonts" as *;
@use "./tokens/typography" as *;
@use "./tokens/semantic-colors" as color;

/* または、特定の lang 属性がない場合の共通フォントとして設定 */
body {
  font-family: $lang-default;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-wrap: pretty;
  word-spacing: 0;
  letter-spacing: 0;
  font-kerning: auto;
  text-spacing-trim: normal;
  font-feature-settings: normal;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: normal;
  font-optical-sizing: auto;
  line-height: $line-height-normal-latn;
}

/* 日本語のコンテンツに対するフォント指定 */
body[lang="ja"] {
  font-family: $lang-ja;
  line-height: $line-height-normal-jpan;
  font-feature-settings: "palt";
  line-break: auto;
  hyphens: manual;

  p,
  li,
  dd,
  dt {
    word-break: break-all;
    -webkit-line-break: strict;
    line-break: strict;
  }
}

/* 英語 */
body[lang="en"] {
  font-family: $lang-en;
  line-height: $line-height-normal-latn;
  hyphens: auto;
}

/* ポルトガル語 */
body[lang="pt"] {
  font-family: $lang-pt;
  line-height: $line-height-normal-latn;
  hyphens: auto;
}

/* サイズ */
.font-size-ex-large {
  font-size: $size-ex-large;
}

.font-size-large {
  font-size: $size-large;
}

.font-size-medium {
  font-size: $size-medium;
}

.font-size-small {
  font-size: $size-small;
}

.font-size-ex-small {
  font-size: $size-ex-small;
}

/* 色 */
.text-color-white {
  color: color.$text-white;
}

.text-color-deepgray {
  color: color.$text-deepgray;
}

.text-color-gray {
  color: color.$text-gray;
}

.text-color-lightgray {
  color: color.$text-lightgray;
}

.text-color-black {
  color: color.$text-black;
}

.text-color-error {
  color: color.$text-error;
}

/* 太さ */
.font-weight-normal {
  font-weight: $weight-normal;
}

.font-weight-bold {
  font-weight: $weight-bold;
}

/* スタイル */
.font-style-normal {
  font-style: $style-normal;
}

.font-style-italic {
  font-style: $style-italic;
}

/* 行間 */
.font-lines-loose-jpan {
  line-height: $line-height-loose-jpan;
}

.font-lines-normal-jpan {
  line-height: $line-height-normal-jpan;
}

.font-lines-tight-jpan {
  line-height: $line-height-tight-jpan;
}

.font-lines-loose-latn {
  line-height: $line-height-loose-latn;
}

.font-lines-normal-latn {
  line-height: $line-height-normal-latn;
}

.font-lines-tight-latn {
  line-height: $line-height-tight-latn;
}