@layer reset {

  /* Box Sizing Reset: デフォルトをborder-boxにする */
  /* paddingやborderがwidth/heightに含まれるようになり、レイアウト計算がしやすくなる*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* リセット対象の要素を最小限に抑える */
  /* margin, paddingをリセットし、ブラウザ間のデフォルト値の差異を吸収 */
  /* 特に問題を起こしやすい要素に絞って調整 */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
    padding: 0;
  }





  /* ボタンのスタイルリセット */
  button {
    background-color: transparent;
    /* デフォルトの背景色を削除 */
    border: none;
    /* デフォルトの枠線を削除 */
    cursor: pointer;
    /* ポインタを表示 */
    padding: 0;
    /* デフォルトのpaddingを削除 */
  }


  /* リストのスタイルをリセット */
  /* リストのデフォルトのマーカーやパディングを削除 */
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* リンクのテキスト装飾をリセット */
  a {
    text-decoration: none;
    /* 下線を削除 */
    color: inherit;
    /* 親要素の文字色を継承 */
  }

  /* テーブルのセルの間隔をリセット */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* 引用ブロックのスタイル */
  /* blockquoteは適切なmarginを持つよう調整 */
  blockquote {
    margin: 0;
  }
}