@use "../../tokens/semantic-colors" as colors;

@layer component {
  .wim-scroll-area {
    scrollbar-gutter: stable;
    scrollbar-color: colors.$scrollbar-thumb colors.$scrollbar-track;
    scrollbar-width: thin;
    min-width: 0;
    min-height: 0;
  }
}