@layer component {
  .wim-scroll-area {
    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
    min-width: 0;
    min-height: 0;
  }
}
