@layer component {
  .root {
    width: 100%;
    margin: 0;
    font-family: inherit;
    font-weight: var(--wim-font-weight-bold);
    line-height: normal;

    /* Sizes */
    &.xs {
      font-size: var(--wim-font-size-md); // 1rem
    }

    &.sm {
      font-size: var(--wim-font-size-xl); // 1.3rem
    }

    &.md {
      font-size: var(--wim-font-size-2xl); // 1.6rem
    }

    &.lg {
      font-size: var(--wim-font-size-3xl); // 2rem
    }

    &.xl {
      font-size: var(--wim-font-size-4xl); // 2.6rem
    }

    &.xl2 {
      font-size: var(--wim-font-size-5xl); // 3.2rem
    }

    &.xl3 {
      font-size: var(--wim-font-size-6xl); // 4.1rem
    }

    &.xl4 {
      font-size: var(--wim-font-size-7xl); // 5.2rem
    }

    /* Align */
    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    /* Colors */

    &.error {
      color: var(--wim-color-text-error);
    }

    &.primary {
      color: var(--wim-color-primary);
    }

    &.success {
      color: var(--wim-color-positive);
    }

    &.warning {
      color: var(--wim-color-caution);
    }

    &.info {
      color: var(--wim-color-informative);
    }

    /* Decoration */
    &.underline,
    .underline {
      text-decoration: var(--wim-decoration-underline);
      text-decoration-skip-ink: none;
      text-underline-offset: var(--wim-text-underline-offset);
    }

    &.highlight,
    .highlight {
      background-color: var(--wim-color-decoration-highlight-color);
    }
  }
}
