@use "../../src/tokens/semantic-colors" as colors;
@use "../../src/tokens/typography" as typography;
@use "../../src/tokens/spacings" as spacings;
@use "../../src/tokens/effects" as effects;

@layer component {
    .wim-anchor {
        position: relative;
        padding-left: 2px;
        background-color: transparent;

        &__ink {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: colors.$scrollbar-track; // Use a light gray from track

            &-ball {
                position: absolute;
                left: 0;
                width: 2px;
                background-color: colors.$color-primary;
                transition: top 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease;
                opacity: 0;
                z-index: 1;
            }
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            .wim-anchor__list {
                padding-left: spacings.$spacing-md;
            }
        }

        &__item {
            position: relative;
            padding: spacings.$spacing-2xs 0;
            line-height: spacings.$spacing-lg;

            &--active {
                >.wim-anchor__link {
                    color: colors.$color-primary;
                    font-weight: 500;
                }
            }
        }

        &__link {
            display: block;
            position: relative;
            padding-left: spacings.$spacing-md;
            color: colors.$text-deepgray;
            text-decoration: none;
            font-size: typography.$size-medium;
            transition: color 0.3s ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: colors.$color-primary;
            }
        }
    }
}