@layer component {
  .container {
    display: inline-flex;
    gap: var(--wim-spacing-md);
    align-items: center;

    &.label-bottom {
      flex-direction: column;
      gap: var(--wim-spacing-lg);
      justify-content: center;
    }
  }

  .root {
    display: block;
    width: var(--spinner-size, var(--wim-spacing-3xl, 24px));
    height: var(--spinner-size, var(--wim-spacing-3xl, 24px));
    animation: wim-spinner-rotate var(--spinner-rotate-duration, 2s) linear infinite;

    &.sm {
      --spinner-size: var(--wim-spacing-2xl, 16px);
    }

    &.md {
      --spinner-size: var(--wim-spacing-3xl, 24px);
    }

    &.lg {
      --spinner-size: 48px;
    }

    // Colors
    &.primary {
      color: var(--wim-color-primary);
    }

    &.secondary {
      color: var(--wim-color-secondary);
    }

    &.success {
      color: var(--wim-color-positive);
    }

    &.warning {
      color: var(--wim-color-caution);
    }

    &.error {
      color: var(--wim-color-destructive);
    }

    &.neutral {
      color: var(--wim-color-text-secondary);
    }

    &.currentColor {
      color: currentcolor;
    }
  }

  .track {
    opacity: 0.2;
  }

  .head {
    animation: wim-spinner-dash var(--spinner-dash-duration, 1.5s) ease-in-out infinite;
  }

  .label {
    font-size: var(--wim-font-size-sm);
    color: var(--wim-color-text-secondary);
  }

  @keyframes wim-spinner-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wim-spinner-dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }

    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
