@use "../../tokens/spacings" as spacings;
@use "../../tokens/semantic-colors" as colors;
@use "../../tokens/typography" as typography;

.wim-toggle-group {
    box-sizing: border-box;
    display: inline-flex;
    gap: 2px;
    padding: 2px;
    background-color: var(--bg-component);
    border: 1px solid var(--wim-color-border);
    border-radius: spacings.$radius-md;

    &--full-width {
        display: flex;
        width: 100%;

        .wim-toggle-group__item {
            flex: 1;
        }
    }

    &__item {
        display: inline-flex;
        gap: spacings.$spacing-xs;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-weight: 500;
        color: var(--text-secondary);
        white-space: nowrap;
        cursor: pointer;
        background: transparent;
        border: none;
        border-radius: spacings.$radius-sm;
        transition: all 0.2s ease;

        &:hover:not(:disabled, .wim-toggle-group__item--active) {
            color: var(--text-primary);
            background-color: var(--wim-color-border-secondary);
        }

        &:disabled {
            color: var(--text-disabled);
            cursor: not-allowed;
            opacity: 0.5;
        }

        &--active {
            color: var(--text-white);
            background-color: var(--color-primary);
            box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);

            &:hover {
                filter: brightness(1.1);
            }
        }

        &--icon-only {
            aspect-ratio: 1 / 1;
            padding: 0;
        }
    }

    // Sizes
    &--sm {
        height: 32px;

        .wim-toggle-group__item {
            height: 26px; // container height - padding/border
            padding: 0 spacings.$spacing-sm;
            font-size: typography.$size-small;
        }
    }

    &--md {
        height: 40px;

        .wim-toggle-group__item {
            height: 34px;
            padding: 0 spacings.$spacing-md;
            font-size: typography.$size-medium;
        }
    }

    &--lg {
        height: 48px;

        .wim-toggle-group__item {
            height: 42px;
            padding: 0 spacings.$spacing-lg;
            font-size: typography.$size-large;
        }
    }
}
