@use "../../../tokens/breakpoints" as *;
@use "../../../tokens/semantic-colors" as *;
@use "../../../tokens/spacings" as *;

@layer component {
  .root {
    display: block;
    width: 100%;
    height: auto;
  }

  .container {
    position: relative;
    width: 100%;
  }
}
